console
[{"id":"c2eb26bc.d76c48","type":"tab","label":"Flow 1"},{"id":"6c1264a5.ba3fd4","type":"sqlitedb","z":"","db":"/home/pi/garages.db"},{"id":"116ed8e1.0cfbdf","type":"websocket-listener","z":"","path":"/ws/socket","wholemsg":"false"},{"id":"a624899b.97c448","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","verifyservercert":false},{"id":"71d99083.b15818","type":"light-scheduler-settings","z":"c2eb26bc.d76c48","name":"my settings","latitude":"32.8110114","longitude":"-116.902835"},{"id":"366f2ae0.02f46e","type":"exec","z":"c2eb26bc.d76c48","command":"augustctl front lock","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":819,"y":87,"wires":[["7f5c4a56.bbcbfc"],[],[]]},{"id":"6815048f.82426c","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"garage","method":"get","upload":false,"swaggerDoc":"","x":91,"y":335,"wires":[["bd5dce79.b749b","1694fa2a.a72a0e"]]},{"id":"266e39ea.d0faf6","type":"http request","z":"c2eb26bc.d76c48","name":"","method":"GET","ret":"txt","url":"","tls":"","x":394,"y":445.75,"wires":[["fc9be186.9c84"]]},{"id":"fc9be186.9c84","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.payload == \"white\" || msg.payload == \"img-swap\"){\n    msg.topic = \"UPDATE GARAGES SET STATUS = NOT STATUS where NAME='\" + msg.garage + \"'\";\n    return [msg,null];\n}else if (typeof(msg.garage) != \"undefined\"){\n    msg.topic = \"SELECT * FROM GARAGES where NAME = '\" + msg.garage + \"';\";\n    }\n    else{\nmsg.topic = \"SELECT * FROM GARAGES;\";\n} \nreturn [null,msg];","outputs":"2","noerr":0,"x":552,"y":446.75,"wires":[["c466281b.6f7178"],["68bc17f9.10db7"]]},{"id":"c466281b.6f7178","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":556.5,"y":478.25,"wires":[["fc9be186.9c84"]]},{"id":"68bc17f9.10db7","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":684,"y":453,"wires":[["d198830a.80f9b8"]]},{"id":"bdee4186.0eab48","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nif (msg.req.route.path == \"/status\"){\n    msg.payload = {\"command\":\"starttoggle\",\"data\":\"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \"}\"}\n}\nelse{\n    msg.payload = {\"command\":\"toggle\",\"data\":\"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \",\\\"interval\\\":\" + msg.payload.INTERVAL + \"}\"}\n}\n\n   \nreturn msg;","outputs":1,"noerr":0,"x":804,"y":515,"wires":[["9e226e7a.870138"]]},{"id":"9e226e7a.870138","type":"websocket out","z":"c2eb26bc.d76c48","name":"","server":"116ed8e1.0cfbdf","client":"","x":1315,"y":515,"wires":[]},{"id":"85efcdb8.80a438","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":122,"y":446,"wires":[["cfae8d21.cd0148"]]},{"id":"bd5dce79.b749b","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.garage = msg.payload.garage;\nmsg.topic = \"SELECT URL, STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":119,"y":409.75,"wires":[["85efcdb8.80a438"]]},{"id":"cfae8d21.cd0148","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.payload.length > 0){\n    msg.url = msg.payload[0].URL\n    return [null,msg];\n}\nelse{\n    return [msg, null];\n}\n\n","outputs":"2","noerr":0,"x":247,"y":446,"wires":[["6fe8b861.5dd108"],["266e39ea.d0faf6"]]},{"id":"ac7b855f.333ed8","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"status","method":"get","upload":false,"swaggerDoc":"","x":96,"y":570,"wires":[["fc9be186.9c84","a60e0310.3613e8","12d0fed3.12fbf1","8e31e90.96ed998","4b1f6e9.42e639"]]},{"id":"8ef00d15.573e58","type":"http request","z":"c2eb26bc.d76c48","name":"Notify Visitor Arrived","method":"POST","ret":"txt","url":"","tls":"","x":725,"y":407.75,"wires":[[]]},{"id":"66090907.312b68","type":"change","z":"c2eb26bc.d76c48","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":534,"y":408,"wires":[["8ef00d15.573e58"]]},{"id":"32007a17.18eb8e","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":630,"y":620,"wires":[["1e9201e4.8a3afe"]]},{"id":"43b6233b.5f5d5c","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":373,"y":619,"wires":[["a60e0310.3613e8"]]},{"id":"8baadc06.37d4f8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.mode = msg.payload.mode;\nmsg.topic = \"UPDATE MODE SET MODE = '\" + msg.mode.trim() + \"';\";\n\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":621,"wires":[["43b6233b.5f5d5c"]]},{"id":"a60e0310.3613e8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":620,"wires":[["32007a17.18eb8e"]]},{"id":"1e9201e4.8a3afe","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.payload.length >0)\n    msg.payload = {\"command\":\"hmode\",\"data\":msg.payload[0].MODE}\nelse\n   msg.payload = { \"command\":\"startup\",\"data\":0}\nreturn msg;","outputs":1,"noerr":0,"x":804,"y":621,"wires":[["9e226e7a.870138"]]},{"id":"cee4e9e9.b4974","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"lightswitch","method":"get","upload":false,"swaggerDoc":"","x":120,"y":680,"wires":[["af8c26b7.a54fd8"]]},{"id":"737ae636.65d4b","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":821,"y":678,"wires":[]},{"id":"aa72be2b.78038","type":"http request","z":"c2eb26bc.d76c48","name":"Lights on","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/LightsOn/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP","tls":"a624899b.97c448","x":804,"y":1038,"wires":[[]]},{"id":"614057b0.54761","type":"http request","z":"c2eb26bc.d76c48","name":"Lights Off","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/LightsOff/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP","tls":"a624899b.97c448","x":806,"y":1085.25,"wires":[[]]},{"id":"e1f8d1c2.9ff2","type":"trigger","z":"c2eb26bc.d76c48","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"","x":341,"y":1103,"wires":[["665eefe6.abc6d8"]]},{"id":"68f9caa1.4a19a4","type":"trigger","z":"c2eb26bc.d76c48","op1":"light-only","op2":"","op1type":"str","op2type":"nul","duration":"4","extend":true,"units":"min","reset":"","name":"","x":341,"y":1030.25,"wires":[["665eefe6.abc6d8"]]},{"id":"4d0cc462.ae3c04","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nif (msg.payload == \"ON\"){\n    return [msg, null, null];\n}\n\nif (msg.payload == \"OFF\"){\n    return [null, null, msg];\n}","outputs":"3","noerr":0,"x":634,"y":1063,"wires":[["aa72be2b.78038"],[],["614057b0.54761"]]},{"id":"130aaaaa.84b4d5","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"/camhook","method":"post","swaggerDoc":"","x":105,"y":1048.25,"wires":[["68f9caa1.4a19a4","e1f8d1c2.9ff2","b3ad906c.c077d"]]},{"id":"b3ad906c.c077d","type":"http response","z":"c2eb26bc.d76c48","name":"","x":322,"y":1065.75,"wires":[]},{"id":"665eefe6.abc6d8","type":"light-scheduler","z":"c2eb26bc.d76c48","settings":"71d99083.b15818","events":"[]","topic":"","name":"Sun","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"sunElevationThreshold":"-5","sunShowElevationInStatus":true,"outputfreq":"output.statechange","x":492,"y":1065,"wires":[["4d0cc462.ae3c04"]]},{"id":"c568490e.71658","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"arrive","method":"get","upload":false,"swaggerDoc":"","x":82,"y":267,"wires":[["bfccb065.caf7f","1694fa2a.a72a0e","9b663f47.60c748","c78e4a10.4fcbd8"]]},{"id":"6fe8b861.5dd108","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\n    msg.payload = {};\n    msg.payload.value1 = msg.user + \" has arrived at the compound!\";\n    \n    msg.payload = JSON.stringify(msg.payload);\n    msg.url = \"https://maker.ifttt.com/trigger/notification/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\n\n    return msg;\n\n","outputs":"1","noerr":0,"x":376,"y":408,"wires":[["66090907.312b68"]]},{"id":"bfccb065.caf7f","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.user = msg.payload.user;\nmsg.garage = \"g\" + msg.payload.user.toLowerCase();\nmsg.topic = \"SELECT URL, STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":95,"y":302,"wires":[["85efcdb8.80a438"]]},{"id":"578361cb.805228","type":"exec","z":"c2eb26bc.d76c48","command":"augustctl front unlock","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":941,"y":268,"wires":[["7f5c4a56.bbcbfc"],[],[]]},{"id":"3478c9ba.2bd0fe","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"depart","method":"get","upload":false,"swaggerDoc":"","x":87,"y":87,"wires":[["ee2c86f7.8874e8","6862c4a9.e672cc"]]},{"id":"bbcefa1d.9639c","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":365,"y":87,"wires":[["531bf82c.3a9de8"]]},{"id":"ee2c86f7.8874e8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.user = \"\";\nif(typeof(msg.payload.user) != \"undefined\")\n    msg.user = msg.payload.user;\n    \nmsg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":87,"wires":[["bbcefa1d.9639c"]]},{"id":"531bf82c.3a9de8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = msg.payload[0].MODE;\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":87.75,"wires":[["52bb2d46.c7d4b4"]]},{"id":"52bb2d46.c7d4b4","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":608,"y":87.75,"wires":[["366f2ae0.02f46e","e6d99243.b1c9d8","a10e29e3.8f9078"],["5b07f057.561c38"]]},{"id":"6862c4a9.e672cc","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":405,"y":127,"wires":[]},{"id":"c4d011fe.e4ae1","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":625,"y":268,"wires":[["de2bc88b.e11598"]]},{"id":"b2824ecf.1968e","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":493,"y":268,"wires":[["c4d011fe.e4ae1"]]},{"id":"de2bc88b.e11598","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].MODE","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"}],"checkall":"true","outputs":1,"x":753,"y":267.75,"wires":[["578361cb.805228","b913c515.d1f71"]]},{"id":"1694fa2a.a72a0e","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":225,"y":227.5,"wires":[]},{"id":"9b663f47.60c748","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload.house","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":363,"y":268,"wires":[["b2824ecf.1968e"]]},{"id":"d198830a.80f9b8","type":"split","z":"c2eb26bc.d76c48","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":679,"y":513.75,"wires":[["bdee4186.0eab48"]]},{"id":"7b54a1a7.5f0a","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"mode","method":"get","upload":false,"swaggerDoc":"","x":94,"y":621,"wires":[["8baadc06.37d4f8","8e31e90.96ed998"]]},{"id":"a304f3b2.d39ec8","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":606,"y":678.75,"wires":[["737ae636.65d4b"]]},{"id":"4db59fe8.7f14d","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":1183,"y":73,"wires":[["d989d2a2.3059b"]]},{"id":"7f5c4a56.bbcbfc","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nmsg.topic = \"UPDATE LOCK SET LOCK = '\" + msg.payload.trim() + \"';\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1058,"y":73,"wires":[["4db59fe8.7f14d"]]},{"id":"1ebb2af0.0679d5","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":536,"y":560,"wires":[["6d3ab8eb.4edec8"]]},{"id":"12d0fed3.12fbf1","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.mode = msg.payload.mode;\nmsg.topic = \"select * from lock;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":412,"y":572,"wires":[["1ebb2af0.0679d5"]]},{"id":"8e31e90.96ed998","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":236,"y":592,"wires":[]},{"id":"6d3ab8eb.4edec8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"    msg.payload = {\"command\":\"lock\",\"data\":msg.payload[0].LOCK}\n\nreturn msg;","outputs":1,"noerr":0,"x":688,"y":560,"wires":[["9e226e7a.870138"]]},{"id":"ca015335.527b08","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"lock","method":"get","upload":false,"swaggerDoc":"","x":98,"y":147,"wires":[["6862c4a9.e672cc","da88cbe8.776af"]]},{"id":"99a18603.d0029","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].LOCK","propertyType":"msg","rules":[{"t":"eq","v":"unlock","vt":"str"},{"t":"eq","v":"lock","vt":"str"}],"checkall":"true","outputs":2,"x":622,"y":177.75,"wires":[["366f2ae0.02f46e"],["578361cb.805228"]]},{"id":"11851ab9.81a67d","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"checkmode","method":"get","upload":false,"swaggerDoc":"","x":98,"y":39,"wires":[["ae5773f1.476fa8"]]},{"id":"ae5773f1.476fa8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":37,"wires":[["fe2bfa0f.a622c8"]]},{"id":"fe2bfa0f.a622c8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":543,"y":37,"wires":[["a08b9816.abd088"]]},{"id":"d13e6984.843","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":874,"y":36.5,"wires":[]},{"id":"a08b9816.abd088","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].MODE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":699,"y":36.75,"wires":[["d13e6984.843"]]},{"id":"da88cbe8.776af","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM LOCK;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":177,"wires":[["cea683cf.4687f8"]]},{"id":"cea683cf.4687f8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":498,"y":178,"wires":[["99a18603.d0029"]]},{"id":"a5c10f5f.e29ca","type":"link in","z":"c2eb26bc.d76c48","name":"lock","links":["f8997df1.1ea3e8"],"x":247,"y":523.25,"wires":[["12d0fed3.12fbf1"]]},{"id":"f8997df1.1ea3e8","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["a5c10f5f.e29ca"],"x":1417,"y":72.5,"wires":[]},{"id":"6ae00171.8b3248","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":894,"y":147,"wires":[["9e8f6908.47046"]]},{"id":"e6d99243.b1c9d8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.garage = msg.payload.garage;\nmsg.topic = \"SELECT * FROM GARAGES WHERE STATUS = 1;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":773,"y":146.75,"wires":[["6ae00171.8b3248"]]},{"id":"9e8f6908.47046","type":"split","z":"c2eb26bc.d76c48","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1029,"y":145.75,"wires":[["a5e83648.93b238"]]},{"id":"a5e83648.93b238","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"garage","pt":"msg","to":"payload.NAME","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"payload.URL","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1188,"y":146.75,"wires":[["c7b5e61.41f7698"]]},{"id":"c7b5e61.41f7698","type":"link out","z":"c2eb26bc.d76c48","name":"garage","links":["37437025.6f0a78"],"x":1315,"y":146.5,"wires":[]},{"id":"37437025.6f0a78","type":"link in","z":"c2eb26bc.d76c48","name":"","links":["c7b5e61.41f7698"],"x":248,"y":484.25,"wires":[["266e39ea.d0faf6"]]},{"id":"babf9e3e.791448","type":"inject","z":"c2eb26bc.d76c48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":155,"y":900.25,"wires":[["3e31d84d.a0fcf8"]]},{"id":"fdc5dc0d.9e05e","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":331,"y":955,"wires":[["4946a89d.d97638"]]},{"id":"3e31d84d.a0fcf8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * from GARAGES;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":328,"y":918.75,"wires":[["fdc5dc0d.9e05e"]]},{"id":"af8c26b7.a54fd8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":316,"y":679.75,"wires":[["a304f3b2.d39ec8"]]},{"id":"d1700c18.634e7","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"/lightslide","method":"get","upload":false,"swaggerDoc":"","x":85,"y":754,"wires":[["7af3d1f3.753f7","d3b8018e.331a78"]]},{"id":"d3b8018e.331a78","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.p = msg.payload.p;\nmsg.topic = \"UPDATE SLIDER SET SLIDER = \" + msg.p + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":754,"wires":[["9ccdc01d.291198","21fe68b.f203898"]]},{"id":"9ccdc01d.291198","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":422,"y":756,"wires":[["4b1f6e9.42e639"]]},{"id":"4b1f6e9.42e639","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM SLIDER;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":755,"wires":[["b0c1a469.8989e"]]},{"id":"b0c1a469.8989e","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":689,"y":755,"wires":[["ca6eed23.7617f8"]]},{"id":"215f83c4.fd750c","type":"http request","z":"c2eb26bc.d76c48","name":"Slider Lights","method":"POST","ret":"txt","url":"","tls":"","x":560,"y":711,"wires":[[]]},{"id":"21fe68b.f203898","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.url = \"https://maker.ifttt.com/trigger/\" + msg.p + \"p/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\n    return msg;\n\n","outputs":"1","noerr":0,"x":420,"y":711.25,"wires":[["215f83c4.fd750c"]]},{"id":"ca6eed23.7617f8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.payload.length >0)\n    msg.payload = {\"command\":\"slider\",\"data\":msg.payload[0].SLIDER}\nelse\n   msg.payload = { \"command\":\"startup\",\"data\":0}\nreturn msg;","outputs":1,"noerr":0,"x":818,"y":754,"wires":[["9e226e7a.870138"]]},{"id":"7af3d1f3.753f7","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":257,"y":720.5,"wires":[]},{"id":"be012d10.d703c","type":"light-scheduler","z":"c2eb26bc.d76c48","settings":"71d99083.b15818","events":"[]","topic":"","name":"","onPayload":"true","onPayloadType":"bool","offPayload":"false","offPayloadType":"bool","onlyWhenDark":true,"sunElevationThreshold":"-4","sunShowElevationInStatus":false,"outputfreq":"output.statechange","x":494.5,"y":1197.75,"wires":[["e3f81441.76b2"]]},{"id":"acfa7af4.255948","type":"start-up-trigger","z":"c2eb26bc.d76c48","x":165.5,"y":1196.75,"wires":[["ccb1a741.d967f8"]]},{"id":"ccb1a741.d967f8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = \"light-only\";\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":1197.75,"wires":[["be012d10.d703c"]]},{"id":"e3f81441.76b2","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"night","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":677,"y":1197.75,"wires":[[]]},{"id":"b913c515.d1f71","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"night","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":895,"y":223,"wires":[["5a8fb06e.e76a98"]]},{"id":"62328134.993308","type":"link out","z":"c2eb26bc.d76c48","name":"slider","links":["41686711.f08fe8"],"x":1152,"y":200.5,"wires":[]},{"id":"5a8fb06e.e76a98","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.p = 50;\nreturn msg;","outputs":1,"noerr":0,"x":1018,"y":222.75,"wires":[["62328134.993308"]]},{"id":"a10e29e3.8f9078","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.p = 0;\nreturn msg;","outputs":1,"noerr":0,"x":914,"y":180.75,"wires":[["62328134.993308"]]},{"id":"41686711.f08fe8","type":"link in","z":"c2eb26bc.d76c48","name":"","links":["62328134.993308"],"x":112,"y":794.25,"wires":[["d3b8018e.331a78"]]},{"id":"c78e4a10.4fcbd8","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"night","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":270,"y":310,"wires":[["2293a0ff.e098c8"]]},{"id":"2293a0ff.e098c8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.turnon = 1;\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = 'glight'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":310,"wires":[["306f9f4c.01d5"]]},{"id":"306f9f4c.01d5","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":512,"y":310,"wires":[["88701ac4.4c769"]]},{"id":"88701ac4.4c769","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"turnon","vt":"msg"}],"checkall":"true","outputs":1,"x":632,"y":309.75,"wires":[["9e53202e.fc5c4","6049c823.0c02d8"]]},{"id":"9e53202e.fc5c4","type":"trigger","z":"c2eb26bc.d76c48","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"8","extend":false,"units":"min","reset":"","name":"","x":770,"y":309.75,"wires":[["49810642.05ffb"]]},{"id":"49810642.05ffb","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"turnon","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":946,"y":310.75,"wires":[["306f9f4c.01d5"]]},{"id":"6049c823.0c02d8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = \"glight\";\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":358,"wires":[["bd5dce79.b749b"]]},{"id":"d989d2a2.3059b","type":"delay","z":"c2eb26bc.d76c48","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1320,"y":73.75,"wires":[["f8997df1.1ea3e8"]]},{"id":"4946a89d.d97638","type":"debug","z":"c2eb26bc.d76c48","name":"","active":true,"console":"false","complete":"false","x":473,"y":951.5,"wires":[]},{"id":"5b07f057.561c38","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if(msg.user === \"\"){\n    return null;\n}else{\nmsg.garage = \"g\" + msg.user.toLowerCase();\nmsg.topic = \"SELECT URL, STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":118,"y":373,"wires":[["85efcdb8.80a438"]]}]
