console
[{"id":"c2eb26bc.d76c48","type":"tab","label":"Flow 1"},{"id":"18d4298d.3d2996","type":"tab","label":"Flow 2"},{"id":"6c1264a5.ba3fd4","type":"sqlitedb","db":"/home/pi/garages.db"},{"id":"a624899b.97c448","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"71d99083.b15818","type":"light-scheduler-settings","z":"c2eb26bc.d76c48","name":"my settings","latitude":"32.8110114","longitude":"-116.902835"},{"id":"ad16e3fe.85b0f","type":"socketio-config","port":"1881","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"b4797079.ff82a","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"6815048f.82426c","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"garage","method":"get","upload":false,"swaggerDoc":"","x":90,"y":340,"wires":[["bd5dce79.b749b","1694fa2a.a72a0e"]]},{"id":"fc9be186.9c84","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.payload == \"white\" || msg.payload == \"img-swap\"){\n    msg.topic = \"UPDATE GARAGES SET STATUS = NOT STATUS where NAME='\" + msg.garage + \"'\";\n    return [msg,null];\n}else if (typeof(msg.garage) != \"undefined\"){\n    msg.topic = \"SELECT * FROM GARAGES where NAME = '\" + msg.garage + \"';\";\n    }\n    else{\nmsg.topic = \"SELECT * FROM GARAGES;\";\n} \nreturn [null,msg];","outputs":"2","noerr":0,"initialize":"","finalize":"","x":650,"y":488.75,"wires":[["c466281b.6f7178"],["68bc17f9.10db7"]]},{"id":"c466281b.6f7178","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":655.5,"y":532.25,"wires":[["fc9be186.9c84"]]},{"id":"68bc17f9.10db7","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":850,"y":495,"wires":[["d198830a.80f9b8"]]},{"id":"bdee4186.0eab48","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nif (typeof(msg.req) != \"undefined\"){\n    if(msg.req.route.path == \"/status\"){\n        msg.socketIOEvent = \"starttoggle\";\n        msg.payload = \"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \"}\";\n    }\n    else{\n        msg.socketIOEvent = \"toggle\";\n        msg.payload = \"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \",\\\"interval\\\":\" + msg.payload.INTERVAL + \"}\";\n    }\n}\nelse{\n    if (msg.socketIOEvent != \"status\"){\n        msg.socketIOEvent = \"toggle\";\n        msg.payload = \"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \",\\\"interval\\\":\" + msg.payload.INTERVAL + \"}\";\n    }\n    else{\n        msg.socketIOEvent = \"toggle\";\n        msg.payload = \"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \"}\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1101,"y":497,"wires":[["3d3a9b95.117cf4"]]},{"id":"85efcdb8.80a438","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":230,"y":500,"wires":[["cfae8d21.cd0148","31bbeb8e.33c14c","29e0b827.17b538"]]},{"id":"bd5dce79.b749b","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (typeof(msg.gstatus) != \"undefined\"){\n    msg.topic = \"SELECT URL, \" + msg.gstatus + \" as STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n}else{\n    msg.garage = msg.payload.garage;\n    msg.topic = \"SELECT URL, STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":440,"wires":[["85efcdb8.80a438"]]},{"id":"cfae8d21.cd0148","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.payload.length > 0){\n    msg.url = msg.payload[0].URL + \"&garage=\" + msg.garage + \"&gstatus=\" + msg.payload[0].STATUS + \"&i=\" + Math.random();\n    return [null,msg];\n}\nelse{\n    return [msg, null];\n}\n\n","outputs":"2","noerr":0,"initialize":"","finalize":"","x":350,"y":500,"wires":[[],["39c83abd.cc0796"]]},{"id":"32007a17.18eb8e","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":790,"y":660,"wires":[["1e9201e4.8a3afe"]]},{"id":"43b6233b.5f5d5c","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":590,"y":700,"wires":[["a60e0310.3613e8","f3608a55.109228"]]},{"id":"a60e0310.3613e8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":660,"wires":[["32007a17.18eb8e"]]},{"id":"1e9201e4.8a3afe","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"hmode\";\nmsg.payload = msg.payload[0].MODE;\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":660,"wires":[["3d3a9b95.117cf4"]]},{"id":"cee4e9e9.b4974","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"lightswitch","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1500,"wires":[["d85815c9.2d9ef"]]},{"id":"737ae636.65d4b","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":830,"y":1340,"wires":[]},{"id":"c568490e.71658","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"arrive","method":"get","upload":false,"swaggerDoc":"","x":80,"y":220,"wires":[["bfccb065.caf7f","1694fa2a.a72a0e","c78e4a10.4fcbd8","8076a02d.a74dd"]]},{"id":"bfccb065.caf7f","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.user = msg.payload.user;\nmsg.garage = \"g\" + msg.payload.user.toLowerCase();\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["2bfec8d6.a66868"]]},{"id":"3478c9ba.2bd0fe","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"depart","method":"get","upload":false,"swaggerDoc":"","x":87,"y":87,"wires":[["ee2c86f7.8874e8","1694fa2a.a72a0e"]]},{"id":"bbcefa1d.9639c","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":365,"y":87,"wires":[["531bf82c.3a9de8"]]},{"id":"ee2c86f7.8874e8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.user = \"\";\nif(typeof(msg.payload.user) != \"undefined\")\n    msg.user = msg.payload.user;\n    \nmsg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":87,"wires":[["bbcefa1d.9639c"]]},{"id":"531bf82c.3a9de8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = msg.payload[0].MODE;\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":87.75,"wires":[["52bb2d46.c7d4b4"]]},{"id":"52bb2d46.c7d4b4","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":608,"y":87.75,"wires":[["e6d99243.b1c9d8","9764f0ca.7a3b"],["5b07f057.561c38"]]},{"id":"1694fa2a.a72a0e","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":230,"y":120,"wires":[]},{"id":"9b663f47.60c748","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload.house","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":250,"y":300,"wires":[["26c2a380.1835d4"]]},{"id":"d198830a.80f9b8","type":"split","z":"c2eb26bc.d76c48","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":976,"y":495.75,"wires":[["bdee4186.0eab48"]]},{"id":"a304f3b2.d39ec8","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1500,"wires":[["737ae636.65d4b"]]},{"id":"1ebb2af0.0679d5","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":790,"y":620,"wires":[["6d3ab8eb.4edec8"]]},{"id":"12d0fed3.12fbf1","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.mode = msg.payload;\nmsg.topic = \"select * from lock;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":620,"wires":[["1ebb2af0.0679d5"]]},{"id":"6d3ab8eb.4edec8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"lock\";\nmsg.payload = msg.payload[0].LOCK;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":620,"wires":[["3d3a9b95.117cf4"]]},{"id":"11851ab9.81a67d","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"checkmode","method":"get","upload":false,"swaggerDoc":"","x":98,"y":39,"wires":[["ae5773f1.476fa8"]]},{"id":"ae5773f1.476fa8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":37,"wires":[["fe2bfa0f.a622c8"]]},{"id":"fe2bfa0f.a622c8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":543,"y":37,"wires":[["a08b9816.abd088"]]},{"id":"d13e6984.843","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":874,"y":36.5,"wires":[]},{"id":"a08b9816.abd088","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].MODE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":699,"y":36.75,"wires":[["d13e6984.843"]]},{"id":"da88cbe8.776af","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM LOCK;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["cea683cf.4687f8"]]},{"id":"cea683cf.4687f8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":470,"y":160,"wires":[["b6001486.3cd618"]]},{"id":"a5c10f5f.e29ca","type":"link in","z":"c2eb26bc.d76c48","name":"lock_status","links":["f8997df1.1ea3e8","f764b32.ecc7fd","6d011305.e2633c","2ef23097.f2fa9"],"x":555,"y":620,"wires":[["12d0fed3.12fbf1"]]},{"id":"6ae00171.8b3248","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":890,"y":160,"wires":[["9e8f6908.47046"]]},{"id":"e6d99243.b1c9d8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.garage = msg.payload.garage;\nmsg.topic = \"SELECT * FROM GARAGES WHERE STATUS = 1;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":160,"wires":[["6ae00171.8b3248"]]},{"id":"9e8f6908.47046","type":"split","z":"c2eb26bc.d76c48","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1010,"y":160,"wires":[["a5e83648.93b238"]]},{"id":"a5e83648.93b238","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"garage","pt":"msg","to":"payload.NAME","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"payload.URL","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":160,"wires":[["d0f7dbe6.f1535"]]},{"id":"c7b5e61.41f7698","type":"link out","z":"c2eb26bc.d76c48","name":"garage","links":["37437025.6f0a78"],"x":1455,"y":160,"wires":[]},{"id":"37437025.6f0a78","type":"link in","z":"c2eb26bc.d76c48","name":"","links":["c7b5e61.41f7698"],"x":346.25,"y":570,"wires":[["39c83abd.cc0796"]]},{"id":"be012d10.d703c","type":"light-scheduler","z":"c2eb26bc.d76c48","settings":"71d99083.b15818","events":"[]","topic":"","name":"","onPayload":"true","onPayloadType":"bool","offPayload":"false","offPayloadType":"bool","onlyWhenDark":true,"sunElevationThreshold":"6","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":620,"y":1200,"wires":[["e3f81441.76b2"]]},{"id":"acfa7af4.255948","type":"start-up-trigger","z":"c2eb26bc.d76c48","x":180,"y":1200,"wires":[["39f664bc.b24574","87f6ba81.5edcc"]]},{"id":"e3f81441.76b2","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"night","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":1200,"wires":[[]]},{"id":"c78e4a10.4fcbd8","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"night","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":250,"y":340,"wires":[["2293a0ff.e098c8","9b663f47.60c748"]]},{"id":"2293a0ff.e098c8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.turnon = 1;\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = 'glight'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["306f9f4c.01d5"]]},{"id":"306f9f4c.01d5","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":340,"wires":[["88701ac4.4c769"]]},{"id":"88701ac4.4c769","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"turnon","vt":"msg"}],"checkall":"true","outputs":1,"x":630,"y":340,"wires":[["9e53202e.fc5c4","6049c823.0c02d8"]]},{"id":"9e53202e.fc5c4","type":"trigger","z":"c2eb26bc.d76c48","name":"","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"8","extend":false,"units":"min","reset":"","outputs":1,"x":810,"y":340,"wires":[["49810642.05ffb"]]},{"id":"49810642.05ffb","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"turnon","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":340,"wires":[["306f9f4c.01d5"]]},{"id":"6049c823.0c02d8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = \"glight\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":300,"wires":[["88a97ff.a4ddb8"]]},{"id":"5b07f057.561c38","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if(msg.user === \"\"){\n    return null;\n}else{\nmsg.garage = \"g\" + msg.user.toLowerCase();\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["50cb1b16.9904a4"]]},{"id":"9bd2ba67.233a5","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"/lightCallback","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1340,"wires":[["a7e434a9.5aed48","737ae636.65d4b","fda0ca92.013df8"]]},{"id":"a7e434a9.5aed48","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"UPDATE GARAGES SET STATUS = \" + msg.payload.status + \" where NAME='\" + msg.payload.light + \"'\";\nmsg.garage = msg.payload.light;\nreturn msg;","outputs":"1","noerr":0,"initialize":"","finalize":"","x":370,"y":1380,"wires":[["7e1796eb.3ff4b8"]]},{"id":"7e1796eb.3ff4b8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":1380,"wires":[["e76de2cd.851378"]]},{"id":"e76de2cd.851378","type":"link out","z":"c2eb26bc.d76c48","name":"get_status","links":["741f93df.6b68bc"],"x":655,"y":1380,"wires":[]},{"id":"741f93df.6b68bc","type":"link in","z":"c2eb26bc.d76c48","name":"garage_status","links":["34c5eadd.aa56d6","e76de2cd.851378","f764b32.ecc7fd","6d011305.e2633c","2ef23097.f2fa9"],"x":515,"y":500,"wires":[["fc9be186.9c84"]]},{"id":"d0f7dbe6.f1535","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload.URL = msg.payload.URL + \"?i=\" + Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":160,"wires":[["c7b5e61.41f7698"]]},{"id":"3d3a9b95.117cf4","type":"socketio-out","z":"c2eb26bc.d76c48","name":"","server":"ad16e3fe.85b0f","x":1302,"y":644,"wires":[]},{"id":"5adabc2d.5c02bc","type":"socketio-in","z":"c2eb26bc.d76c48","name":"","server":"ad16e3fe.85b0f","rules":[{"v":"garage"},{"v":"status"},{"v":"mode"},{"v":"lock"},{"v":"tuber"},{"v":"cameraReq"},{"v":"camera"},{"v":"window"},{"v":"thumbOut"},{"v":"bistro"},{"v":"ocam"},{"v":"gate_trigger"},{"v":"blue_trigger"}],"x":70,"y":700,"wires":[["489c6ae7.47c47c"]]},{"id":"141ad609.c69d92","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.garage = msg.payload;\nmsg.topic = \"SELECT URL, STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":500,"wires":[["85efcdb8.80a438"]]},{"id":"489c6ae7.47c47c","type":"switch","z":"c2eb26bc.d76c48","name":"checkEvent","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"garage","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"eq","v":"mode","vt":"str"},{"t":"eq","v":"bistro","vt":"str"},{"t":"eq","v":"lock","vt":"str"},{"t":"eq","v":"tuber","vt":"str"},{"t":"eq","v":"cameraReq","vt":"str"},{"t":"eq","v":"window","vt":"str"},{"t":"eq","v":"thumbOut","vt":"str"},{"t":"eq","v":"ocam","vt":"str"},{"t":"eq","v":"gate_trigger","vt":"str"},{"t":"eq","v":"blue_trigger","vt":"str"}],"checkall":"false","repair":false,"outputs":12,"x":230,"y":700,"wires":[["5ec74f7c.1de5f","141ad609.c69d92"],["f764b32.ecc7fd","f83e0ee9.8cae6"],["2a66f7e0.672e58"],["73f3fe51.c4229"],["200c3d1b.0a9ee2"],[],["9c3eaf30.e988d8"],["9a5c6901.12ec28","a018ee50.68741"],["be92d10e.58e358"],["8555aa9f.c8ff18"],["54489ef2.17a1e8"],["54489ef2.17a1e8"]]},{"id":"5ec74f7c.1de5f","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"disable\";\nmsg.payload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":580,"wires":[["3d3a9b95.117cf4"]]},{"id":"f764b32.ecc7fd","type":"link out","z":"c2eb26bc.d76c48","name":"status_check","links":["170a30d5.d0be67","44f44a96.2ee09c","741f93df.6b68bc","a5c10f5f.e29ca","d437d1c4.ffd66","46c358db.7d335","8108c97f.59bc78","231da4c5.4ab9a4"],"x":355,"y":660,"wires":[]},{"id":"d437d1c4.ffd66","type":"link in","z":"c2eb26bc.d76c48","name":"mode_status","links":["f764b32.ecc7fd","1d12050b.df8a43","6d011305.e2633c","2ef23097.f2fa9"],"x":555,"y":660,"wires":[["a60e0310.3613e8"]]},{"id":"b6001486.3cd618","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = msg.payload[0].LOCK;\nif (msg.payload == \"unlock\")\n    msg.payload = \"lock\";\nelse\n    msg.payload = \"unlock\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["9d175e9c.1c7fb8"]]},{"id":"9d175e9c.1c7fb8","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["bcd86a3a.dfad"],"x":675,"y":160,"wires":[]},{"id":"9764f0ca.7a3b","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = \"lock\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":80,"wires":[["d1ea2aea.145cf"]]},{"id":"d1ea2aea.145cf","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["bcd86a3a.dfad"],"x":895,"y":80,"wires":[]},{"id":"f10d8cc2.6b6e4","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = \"unlock\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["f7a758c2.5bac18"]]},{"id":"f7a758c2.5bac18","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["bcd86a3a.dfad"],"x":503.88897705078125,"y":238.88888549804688,"wires":[]},{"id":"d85815c9.2d9ef","type":"function","z":"c2eb26bc.d76c48","name":"","func":"var onoff = msg.payload.gstatus == \"1\"? \"off\" : \"on\";\nmsg.url = \"https://maker.ifttt.com/trigger/\"+ msg.payload.light + \"_\" + onoff + \"/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\n    return msg;\n\n","outputs":"1","noerr":0,"x":270,"y":1500,"wires":[["b8009743.865f38"]]},{"id":"be35f116.c651d","type":"link in","z":"c2eb26bc.d76c48","name":"lock","links":["200c3d1b.0a9ee2"],"x":215,"y":160,"wires":[["da88cbe8.776af"]]},{"id":"200c3d1b.0a9ee2","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["be35f116.c651d"],"x":355,"y":720,"wires":[]},{"id":"d2162a7d.515a9","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nmsg.url = \"https://localhost:16009/mode?mode=\" + msg.payload[0].MODE\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":700,"wires":[["6359afe1.3d185"]]},{"id":"f3608a55.109228","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nmsg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":700,"wires":[["9cfee0b4.592b48"]]},{"id":"9cfee0b4.592b48","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":870,"y":700,"wires":[["d2162a7d.515a9"]]},{"id":"2a66f7e0.672e58","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.mode = msg.payload;\nmsg.topic = \"UPDATE MODE SET MODE = '\" + msg.mode.trim() + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":700,"wires":[["43b6233b.5f5d5c"]]},{"id":"6bc1c90a.3b941","type":"http in","z":"18d4298d.3d2996","name":"","url":"/opengate","method":"get","upload":false,"swaggerDoc":"","x":162,"y":73,"wires":[["ca39ffa6.5a1d98"]]},{"id":"aa26ecc.e7fae1","type":"http in","z":"18d4298d.3d2996","name":"","url":"/lockopengate","method":"get","upload":false,"swaggerDoc":"","x":171,"y":110.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"123d6027.d59938","type":"http in","z":"18d4298d.3d2996","name":"","url":"/normalgate","method":"get","upload":false,"swaggerDoc":"","x":160,"y":148.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"6ac80666.e90f4","type":"http in","z":"18d4298d.3d2996","name":"","url":"/addgateuser","method":"get","upload":false,"swaggerDoc":"","x":170,"y":186,"wires":[["ca39ffa6.5a1d98"]]},{"id":"5af69d31.78a8fc","type":"http in","z":"18d4298d.3d2996","name":"","url":"/addgateuserb","method":"get","upload":false,"swaggerDoc":"","x":169,"y":221.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"f19733e7.4d2a1","type":"http in","z":"18d4298d.3d2996","name":"","url":"/removegateuser","method":"get","upload":false,"swaggerDoc":"","x":176,"y":258.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"fd2981d.4d60e","type":"http in","z":"18d4298d.3d2996","name":"","url":"/gateusers","method":"get","upload":false,"swaggerDoc":"","x":155,"y":296.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"b0a6256.224b9d8","type":"http in","z":"18d4298d.3d2996","name":"","url":"/logs","method":"get","upload":false,"swaggerDoc":"","x":135,"y":331.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"eb0bd2fd.ee6fc","type":"http in","z":"18d4298d.3d2996","name":"","url":"/camera","method":"get","upload":false,"swaggerDoc":"","x":145,"y":370.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"5d8d336.78f764c","type":"http request","z":"18d4298d.3d2996","name":"","method":"GET","ret":"bin","url":"","tls":"","x":719,"y":194.75,"wires":[["8cb3ff16.3fe1b"]]},{"id":"c76fd4a2.2b5298","type":"function","z":"18d4298d.3d2996","name":"","func":"msg.url = \"http://\" + msg.serverip + \":1881\" + msg.req.originalUrl;\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":195.75,"wires":[["5d8d336.78f764c"]]},{"id":"a79914c6.dc7ab","type":"http response","z":"18d4298d.3d2996","name":"","statusCode":"","headers":{},"x":1310,"y":100,"wires":[]},{"id":"5f6c07f0.a32898","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"gateStart","method":"get","upload":false,"swaggerDoc":"","x":520,"y":740,"wires":[["f3608a55.109228","cd1b6f1a.9fcd5"]]},{"id":"ca39ffa6.5a1d98","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"serverip","pt":"msg","to":"10.0.1.4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":412,"y":197,"wires":[["c76fd4a2.2b5298"]]},{"id":"ef49a9e8.273fd8","type":"http in","z":"18d4298d.3d2996","name":"","url":"/camera.jpg","method":"get","upload":false,"swaggerDoc":"","x":340,"y":380,"wires":[["ca39ffa6.5a1d98"]]},{"id":"8cb3ff16.3fe1b","type":"switch","z":"18d4298d.3d2996","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":883,"y":194.75,"wires":[["fa61702a.8c1d"],["35bbd2dc.79f6ae"]]},{"id":"4820bb30.2084cc","type":"delay","z":"18d4298d.3d2996","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":711,"y":259,"wires":[["ca39ffa6.5a1d98"]]},{"id":"b8009743.865f38","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["84453791.d6b97"],"x":355,"y":1500,"wires":[]},{"id":"31bbeb8e.33c14c","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.garage == \"gruby\" && msg.payload[0].STATUS === 0){\nmsg.turnon = 1;\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = 'garagel'\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["e1a504eb.19d258"]]},{"id":"e1a504eb.19d258","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":440,"wires":[["fac8d795.dfb1b8"]]},{"id":"1b2366a2.8e04a1","type":"trigger","z":"c2eb26bc.d76c48","name":"","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"8","extend":false,"units":"min","reset":"","outputs":1,"x":970,"y":440,"wires":[["a92186ed.9b866"]]},{"id":"a92186ed.9b866","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"turnon","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":440,"wires":[["e1a504eb.19d258"]]},{"id":"26c2a380.1835d4","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nmsg.turnon = 1;\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = 'kitl'\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["c9890d37.8d9db8"]]},{"id":"c9890d37.8d9db8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":300,"wires":[["6ee8af45.a5f5d8"]]},{"id":"fac8d795.dfb1b8","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"turnon","vt":"msg"}],"checkall":"true","outputs":1,"x":630,"y":440,"wires":[["c72f94e0.79be5"]]},{"id":"9abef195.7f6508","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = \"kitl\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["db737e93.eb3dc"]]},{"id":"c72f94e0.79be5","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = \"garagel\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":440,"wires":[["fd1250e8.83","1b2366a2.8e04a1"]]},{"id":"8076a02d.a74dd","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload.house","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":251.11111450195312,"y":241.11111450195312,"wires":[["f10d8cc2.6b6e4"]]},{"id":"6ee8af45.a5f5d8","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"turnon","vt":"msg"}],"checkall":"true","outputs":1,"x":630,"y":300,"wires":[["9abef195.7f6508"]]},{"id":"cd1b6f1a.9fcd5","type":"http response","z":"c2eb26bc.d76c48","name":"","x":750,"y":780,"wires":[]},{"id":"6359afe1.3d185","type":"http request","z":"c2eb26bc.d76c48","name":"","method":"GET","ret":"txt","url":"","tls":"a624899b.97c448","x":1270,"y":700,"wires":[[]]},{"id":"bfcfc597.cad538","type":"http in","z":"18d4298d.3d2996","name":"","url":"/mode","method":"get","upload":false,"swaggerDoc":"","x":145,"y":411.25,"wires":[["ca39ffa6.5a1d98"]]},{"id":"aa099ce3.9deff8","type":"http in","z":"18d4298d.3d2996","name":"","url":"/tmp/:filename","method":"get","upload":false,"swaggerDoc":"","x":350,"y":420,"wires":[["ca39ffa6.5a1d98"]]},{"id":"2bfec8d6.a66868","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":200,"wires":[["f884692a.6fdf5"]]},{"id":"f884692a.6fdf5","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":630,"y":200,"wires":[["c49b75a.5678608"]]},{"id":"c49b75a.5678608","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = msg.garage;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["84f7be49.80f0d"]]},{"id":"50cb1b16.9904a4","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":890,"y":120,"wires":[["641a942.3ec7f6c"]]},{"id":"641a942.3ec7f6c","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":1010,"y":120,"wires":[["e7790772.31d99"]]},{"id":"e7790772.31d99","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = msg.garage;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":120,"wires":[["3a85aac4.a242e6"]]},{"id":"c8b5b8b5.e9bff","type":"link in","z":"c2eb26bc.d76c48","name":"garageTrigger","links":["88a97ff.a4ddb8","db737e93.eb3dc","fd1250e8.83","84f7be49.80f0d","3a85aac4.a242e6","faf3c1e5.a0664"],"x":75,"y":440,"wires":[["bd5dce79.b749b"]]},{"id":"88a97ff.a4ddb8","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":855,"y":300,"wires":[]},{"id":"db737e93.eb3dc","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":855,"y":260,"wires":[]},{"id":"fd1250e8.83","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":875,"y":420,"wires":[]},{"id":"84f7be49.80f0d","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":815,"y":200,"wires":[]},{"id":"3a85aac4.a242e6","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":1175,"y":120,"wires":[]},{"id":"39f664bc.b24574","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"light-only","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1200,"wires":[["be012d10.d703c"]]},{"id":"1bd78b69.c6b35d","type":"http request","z":"18d4298d.3d2996","name":"","method":"GET","ret":"txt","url":"","tls":"b4797079.ff82a","x":729.75,"y":624,"wires":[["9b6e897d.bee31"]]},{"id":"9b6e897d.bee31","type":"switch","z":"18d4298d.3d2996","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":909.75,"y":624,"wires":[[],["1f13f946.3648ef"]]},{"id":"546268dc.a3d5e","type":"link in","z":"18d4298d.3d2996","name":"http_retry_request_return_in_no_return","links":["c78052cd.321f4","d9e7d2eb.ae02e"],"x":214.5,"y":628,"wires":[["6bd3e469.6e6364"]]},{"id":"639e59d7.6b28a8","type":"delay","z":"18d4298d.3d2996","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":679.75,"y":704,"wires":[["331ccd1e.5e767a"]]},{"id":"6bd3e469.6e6364","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"psave","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"count","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":339.75,"y":624,"wires":[["331ccd1e.5e767a"]]},{"id":"331ccd1e.5e767a","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"psave","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":539.75,"y":624,"wires":[["1bd78b69.c6b35d"]]},{"id":"39c83abd.cc0796","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["8b0ee434.a6f0b"],"x":455,"y":520,"wires":[]},{"id":"58785820.6d16b8","type":"link in","z":"c2eb26bc.d76c48","name":"Lock_IN","links":["135e2b6f.b9d7e5","b53128e1.e953a8","f3cf8f11.7c134"],"x":435,"y":1500,"wires":[["a304f3b2.d39ec8"]]},{"id":"b128350b.fe71d","type":"http request","z":"18d4298d.3d2996","name":"","method":"GET","ret":"txt","url":"","tls":"a624899b.97c448","x":741.75,"y":765,"wires":[["c684faad.f8a538"]]},{"id":"c684faad.f8a538","type":"switch","z":"18d4298d.3d2996","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":921.75,"y":765,"wires":[["34c5eadd.aa56d6"],["90d30b05.238cb"]]},{"id":"8b0ee434.a6f0b","type":"link in","z":"18d4298d.3d2996","name":"http_retry_request_return_in2","links":["39c83abd.cc0796","ddb02a44.c0e62"],"x":226.5,"y":769,"wires":[["ff2c4837.09b9d"]]},{"id":"6080c9ac.0a6578","type":"delay","z":"18d4298d.3d2996","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":691.75,"y":845,"wires":[["ca015542.434b08"]]},{"id":"ff2c4837.09b9d","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"psave","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"count","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":351.75,"y":765,"wires":[["ca015542.434b08"]]},{"id":"ca015542.434b08","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"psave","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":551.75,"y":765,"wires":[["b128350b.fe71d"]]},{"id":"34c5eadd.aa56d6","type":"link out","z":"18d4298d.3d2996","name":"http_retry_request_return_out2","links":["741f93df.6b68bc"],"x":1026.75,"y":765,"wires":[]},{"id":"aab22fd.fe901d","type":"start-up-trigger","z":"c2eb26bc.d76c48","x":100,"y":1740,"wires":[["aea32538.6e07a"]]},{"id":"ceeeee04.b25db8","type":"exec","z":"c2eb26bc.d76c48","command":"sudo runuser -l  pi -c \"python3 ~/gstatus.py\"","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Garage Status","x":440,"y":1780,"wires":[["b76b276b.661e"],[],[]]},{"id":"cd6bd17.d64b3b","type":"function","z":"c2eb26bc.d76c48","name":"","func":"// open = 1, closed = 2, transit = 4\n\nfor (const g in msg.payload) {\n    msg.topic = \"UPDATE GARAGES SET STATUS = \" + ((msg.payload[g] == \"closed\") ? 0 : 1) + \" where name='\" + g + \"';\";\n    msg.garage = g;\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1780,"wires":[["e061a757.93ad28"]]},{"id":"aea32538.6e07a","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\n\n\nsetInterval(function(){\n    var msg = {};\n    node.send(msg);\n},30000);","outputs":1,"noerr":0,"x":250,"y":1740,"wires":[["ceeeee04.b25db8"]]},{"id":"693c2313.dac2cc","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"myqGarage","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1900,"wires":[["b8878db7.2b359"]]},{"id":"1f13f946.3648ef","type":"function","z":"18d4298d.3d2996","name":"","func":"msg.count++;\nif (msg.count<10)\n    return msg;","outputs":1,"noerr":0,"x":531.75,"y":703.75,"wires":[["639e59d7.6b28a8"]]},{"id":"90d30b05.238cb","type":"function","z":"18d4298d.3d2996","name":"","func":"msg.count++;\nif (msg.count<10)\n    return msg;","outputs":1,"noerr":0,"x":558,"y":845,"wires":[["6080c9ac.0a6578"]]},{"id":"35bbd2dc.79f6ae","type":"function","z":"18d4298d.3d2996","name":"","func":"if (typeof(msg.count)=== undefined)\n    msg.count = 0;\n    \nmsg.count++;\nif (msg.count<10)\n    return [msg, null];\nelse{\n    msg.payload = {};\n    msg.statusCode = 200;\n    return [null, msg];\n}","outputs":"2","noerr":0,"x":533.75,"y":260,"wires":[["4820bb30.2084cc"],["fa61702a.8c1d"]]},{"id":"d638a75c.80228","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":838.75,"y":1862.5,"wires":[]},{"id":"7352057f.b6646c","type":"exec","z":"c2eb26bc.d76c48","command":"sudo runuser -l  pi -c \"python3 ~/gopen.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Open","x":458.75,"y":1861.25,"wires":[["504b33ff.6e356c"],[],[]]},{"id":"b8878db7.2b359","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = msg.req.query.garage + '\"';\n\nif (msg.req.query.gstatus == \"0\" )\n    return [msg, null];\nif (msg.req.query.gstatus == \"1\" || msg.req.query.gstatus == \"3\")\n    return [null, msg];","outputs":"2","noerr":0,"initialize":"","finalize":"","x":288.75,"y":1899.6875,"wires":[["7352057f.b6646c"],["5779bc11.a328ec"]]},{"id":"5779bc11.a328ec","type":"exec","z":"c2eb26bc.d76c48","command":"sudo runuser -l  pi -c \"python3 ~/gclose.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Close","x":458.75,"y":1931.25,"wires":[["504b33ff.6e356c"],[],[]]},{"id":"504b33ff.6e356c","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = \"white\";\nreturn msg;","outputs":1,"noerr":0,"x":686.25,"y":1863.4375,"wires":[["d638a75c.80228","dd49f78e.acabf"]]},{"id":"e061a757.93ad28","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":870,"y":1780,"wires":[["ff951477.01e89"]]},{"id":"dd49f78e.acabf","type":"trigger","z":"c2eb26bc.d76c48","name":"","op1":"","op2":"white","op1type":"nul","op2type":"str","duration":"600","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":250,"y":1820,"wires":[["ceeeee04.b25db8"]]},{"id":"6d011305.e2633c","type":"link out","z":"c2eb26bc.d76c48","name":"status_check","links":["170a30d5.d0be67","741f93df.6b68bc","a5c10f5f.e29ca","d437d1c4.ffd66","57e0f3e5.5c370c"],"x":1075,"y":1780,"wires":[]},{"id":"ff951477.01e89","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"status\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1780,"wires":[["6d011305.e2633c"]]},{"id":"fa61702a.8c1d","type":"change","z":"18d4298d.3d2996","name":"Set Headers","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[["a79914c6.dc7ab"]]},{"id":"9a5c6901.12ec28","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"windowOut\";\nmsg.url = \"http://10.0.1.134:1880/gwindowScene?scene=\" + msg.payload\nif (typeof(msg.scheck) != \"undefined\")\n    return [msg, null];\nelse\n    return [null,msg];","outputs":"2","noerr":0,"x":910,"y":860,"wires":[["3d3a9b95.117cf4"],["4712b472.875e4c","3d3a9b95.117cf4"]]},{"id":"f83e0ee9.8cae6","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"window\";\nmsg.scheck = true;\nvar gwindow = \"window0\";\ngwindow = flow.get(\"swindow\");\nmsg.payload = gwindow;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":860,"wires":[["9a5c6901.12ec28"]]},{"id":"a018ee50.68741","type":"function","z":"c2eb26bc.d76c48","name":"","func":"var gwindow = msg.payload;\nflow.set(\"swindow\", gwindow);\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":880,"wires":[[]]},{"id":"4712b472.875e4c","type":"http request","z":"c2eb26bc.d76c48","name":"","method":"GET","ret":"txt","url":"","x":1270,"y":860,"wires":[[]]},{"id":"d2b2b717.c01bc8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"reload\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":740,"wires":[["3d3a9b95.117cf4"]]},{"id":"61bd6a2d.eeafc4","type":"inject","z":"c2eb26bc.d76c48","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":1420,"y":780,"wires":[["d2b2b717.c01bc8"]]},{"id":"fda0ca92.013df8","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload.light","propertyType":"msg","rules":[{"t":"eq","v":"kitl","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":1320,"wires":[["1b015b28.8302a5"]]},{"id":"faf3c1e5.a0664","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":575,"y":1320,"wires":[]},{"id":"1b015b28.8302a5","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.garage = \"gwindow\";\nmsg.gstatus = ((msg.payload.status === \"0\") ? 1 : 0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":1320,"wires":[["faf3c1e5.a0664"]]},{"id":"29e0b827.17b538","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if ((msg.garage == \"gtruck\" || msg.garage == \"glotus\" ) && msg.payload[0].STATUS === 0){\nmsg.turnon = 1;\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = 'obgaragel'\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":370,"y":400,"wires":[["7714126b.a1c274"]]},{"id":"7714126b.a1c274","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":400,"wires":[["ce40588f.5da1f8"]]},{"id":"ce40588f.5da1f8","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"turnon","vt":"msg"}],"checkall":"true","outputs":1,"x":630,"y":400,"wires":[["7423c0dc.8ff6f"]]},{"id":"7423c0dc.8ff6f","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = \"obgaragel\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["fd1250e8.83","d6983981.66bcd"]]},{"id":"d6983981.66bcd","type":"trigger","z":"c2eb26bc.d76c48","name":"","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"8","extend":false,"units":"min","reset":"","outputs":1,"x":970,"y":400,"wires":[["9e17ffd7.d59c3"]]},{"id":"9e17ffd7.d59c3","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"turnon","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":400,"wires":[["7714126b.a1c274"]]},{"id":"e47742b1.e213b8","type":"http response","z":"18d4298d.3d2996","name":"","statusCode":"","headers":{},"x":1062.1500854492188,"y":887.9832763671875,"wires":[]},{"id":"7d8b2c38.fe549c","type":"http in","z":"18d4298d.3d2996","name":"","url":"/gwindowscene","method":"get","upload":false,"swaggerDoc":"","x":324.14996337890625,"y":908.066650390625,"wires":[["26d7a0a6.c4a37"]]},{"id":"26d7a0a6.c4a37","type":"http request","z":"18d4298d.3d2996","name":"","method":"GET","ret":"txt","url":"http://10.0.1.134:1880/gwindowscenes?a=kjh","tls":"","x":736,"y":905.4500122070312,"wires":[["74808aa3.73ea24"]]},{"id":"74808aa3.73ea24","type":"switch","z":"18d4298d.3d2996","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":916,"y":905.4500122070312,"wires":[["e47742b1.e213b8"],["c3ded182.8c7d88"]]},{"id":"1a8ef007.6956a8","type":"delay","z":"18d4298d.3d2996","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":686,"y":985.4500122070312,"wires":[["26d7a0a6.c4a37"]]},{"id":"c3ded182.8c7d88","type":"function","z":"18d4298d.3d2996","name":"","func":"msg.count++;\nif (msg.count<10)\n    return msg;","outputs":1,"noerr":0,"x":552.25,"y":985.4500122070312,"wires":[["1a8ef007.6956a8"]]},{"id":"b76b276b.661e","type":"json","z":"c2eb26bc.d76c48","name":"","pretty":false,"x":610,"y":1780,"wires":[["cd6bd17.d64b3b"]]},{"id":"be92d10e.58e358","type":"function","z":"c2eb26bc.d76c48","name":"","func":"flow.set(\"gcam1\" ,new Buffer(msg.payload.img1).toString());\nflow.set(\"gcam2\" ,new Buffer(msg.payload.img2).toString());\n","outputs":1,"noerr":0,"x":190,"y":920,"wires":[[]]},{"id":"46c358db.7d335","type":"link in","z":"c2eb26bc.d76c48","name":"slider_status","links":["f764b32.ecc7fd"],"x":655,"y":920,"wires":[["9c3eaf30.e988d8"]]},{"id":"f43b2596.aaa35","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"showlog\";\n//msg.socketIOEmit = \"broadcast.emit\";\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":820,"wires":[["bfc1522b.bbe13"]]},{"id":"231da4c5.4ab9a4","type":"link in","z":"c2eb26bc.d76c48","name":"lock_status","links":["f764b32.ecc7fd"],"x":455,"y":820,"wires":[["f43b2596.aaa35"]]},{"id":"bfc1522b.bbe13","type":"http request","z":"c2eb26bc.d76c48","name":"","method":"GET","ret":"txt","url":"http://10.0.1.4:1881/logs","tls":"","x":790,"y":820,"wires":[["3d3a9b95.117cf4"]]},{"id":"42fed17a.bd2ba8","type":"http response","z":"18d4298d.3d2996","name":"","statusCode":"","headers":{},"x":1110,"y":1000,"wires":[]},{"id":"39dff219.cdd2a6","type":"http in","z":"18d4298d.3d2996","name":"","url":"/thumb/:filename","method":"get","upload":false,"swaggerDoc":"","x":321.9998779296875,"y":1060.0833740234375,"wires":[["dc446602.a42f28"]]},{"id":"a98b0627.51dc28","type":"http request","z":"18d4298d.3d2996","name":"","method":"GET","ret":"bin","url":"","tls":"","x":723.8499145507812,"y":1057.4667358398438,"wires":[["74152f11.d70fc8"]]},{"id":"74152f11.d70fc8","type":"switch","z":"18d4298d.3d2996","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":903.8499145507812,"y":1057.4667358398438,"wires":[["72bb852a.83d75c"],["c44b2510.fbd7c"]]},{"id":"c0bec87e.730ea","type":"delay","z":"18d4298d.3d2996","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":673.8499145507812,"y":1137.4667358398438,"wires":[["a98b0627.51dc28"]]},{"id":"c44b2510.fbd7c","type":"function","z":"18d4298d.3d2996","name":"","func":"msg.count++;\nif (msg.count<10)\n    return msg;","outputs":1,"noerr":0,"x":540.0999145507812,"y":1137.4667358398438,"wires":[["c0bec87e.730ea"]]},{"id":"dc446602.a42f28","type":"function","z":"18d4298d.3d2996","name":"","func":"msg.url = \"http://10.0.1.134:1880/thumb/\" + msg.req.params.filename;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1060,"wires":[["a98b0627.51dc28"]]},{"id":"72bb852a.83d75c","type":"change","z":"18d4298d.3d2996","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1000,"wires":[["42fed17a.bd2ba8"]]},{"id":"c35889ab.e8a0b8","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"dchange","method":"get","upload":false,"swaggerDoc":"","x":530,"y":780,"wires":[["cd1b6f1a.9fcd5","f43b2596.aaa35"]]},{"id":"73f3fe51.c4229","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.url = \"https://maker.ifttt.com/trigger/garden_market_\"+  msg.payload + \"/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\nmsg.topic = msg.payload;\nreturn msg;\n\n","outputs":"1","noerr":0,"initialize":"","finalize":"","x":370,"y":980,"wires":[["c08db745.b76f1"]]},{"id":"fa7c5e9a.91df1","type":"http request","z":"c2eb26bc.d76c48","name":"","method":"GET","ret":"txt","url":"","tls":"b4797079.ff82a","x":910,"y":980,"wires":[["86eef7ed.bd086"]]},{"id":"86eef7ed.bd086","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":980,"wires":[["f63f2b0c.bec74"],["7737a1d7.95e88"]]},{"id":"3f79c8b6.13db78","type":"delay","z":"c2eb26bc.d76c48","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":1060,"wires":[["a18eaa22.6ddfd8"]]},{"id":"c08db745.b76f1","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"psave","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"count","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":980,"wires":[["a18eaa22.6ddfd8"]]},{"id":"a18eaa22.6ddfd8","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"psave","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":980,"wires":[["fa7c5e9a.91df1"]]},{"id":"7737a1d7.95e88","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.count++;\nif (msg.count<10)\n    return msg;","outputs":1,"noerr":0,"x":712,"y":1059.75,"wires":[["3f79c8b6.13db78"]]},{"id":"9c3eaf30.e988d8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"gatecam\";\nmsg.socketIOEmit = \"emit\";\nmsg.payload.cimage = flow.get(msg.payload.cam);\nmsg.payload.nextImage = 1000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":920,"wires":[["3d3a9b95.117cf4"]]},{"id":"9d91260b.47c44","type":"light-scheduler","z":"c2eb26bc.d76c48","settings":"71d99083.b15818","events":"[{\"start\":{\"dow\":1,\"mod\":720},\"end\":{\"dow\":1,\"mod\":750}},{\"start\":{\"dow\":2,\"mod\":720},\"end\":{\"dow\":2,\"mod\":750}},{\"start\":{\"dow\":3,\"mod\":720},\"end\":{\"dow\":3,\"mod\":750}},{\"start\":{\"dow\":4,\"mod\":720},\"end\":{\"dow\":4,\"mod\":750}},{\"start\":{\"dow\":5,\"mod\":720},\"end\":{\"dow\":5,\"mod\":750}},{\"start\":{\"dow\":6,\"mod\":720},\"end\":{\"dow\":6,\"mod\":750}},{\"start\":{\"dow\":0,\"mod\":720},\"end\":{\"dow\":0,\"mod\":750}}]","topic":"","name":"","onPayload":"river_on","onPayloadType":"str","offPayload":"river_off","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":6,"sunShowElevationInStatus":false,"outputfreq":"output.statechange.startup","x":120,"y":1560,"wires":[["b6e4cfbb.d46f48"]]},{"id":"b6e4cfbb.d46f48","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.url = \"https://maker.ifttt.com/trigger/\"+ msg.payload + \"/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\n    return msg;\n\n","outputs":"1","noerr":0,"x":270,"y":1560,"wires":[["c78052cd.321f4"]]},{"id":"70dac8f9.1ed958","type":"http request","z":"18d4298d.3d2996","name":"","method":"GET","ret":"txt","url":"","tls":"b4797079.ff82a","x":730,"y":500,"wires":[["6d99113c.abce5"]]},{"id":"6d99113c.abce5","type":"switch","z":"18d4298d.3d2996","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":910,"y":500,"wires":[["f3cf8f11.7c134"],["7eb18a35.98bd9c"]]},{"id":"84453791.d6b97","type":"link in","z":"18d4298d.3d2996","name":"http_retry_request_return_in","links":["b8009743.865f38","d9e7d2eb.ae02e"],"x":214.75,"y":504,"wires":[["2e024fab.cadf28"]]},{"id":"75cd4ba9.2d45bc","type":"delay","z":"18d4298d.3d2996","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":580,"wires":[["8e3a73aa.68b078"]]},{"id":"2e024fab.cadf28","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"psave","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"count","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":500,"wires":[["8e3a73aa.68b078"]]},{"id":"8e3a73aa.68b078","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"psave","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":500,"wires":[["70dac8f9.1ed958"]]},{"id":"7eb18a35.98bd9c","type":"function","z":"18d4298d.3d2996","name":"","func":"msg.count++;\nif (msg.count<10)\n    return msg;","outputs":1,"noerr":0,"x":532,"y":579.75,"wires":[["75cd4ba9.2d45bc"]]},{"id":"f3cf8f11.7c134","type":"link out","z":"18d4298d.3d2996","name":"http_retry_request_return_out","links":["58785820.6d16b8"],"x":1015,"y":480,"wires":[]},{"id":"c78052cd.321f4","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["546268dc.a3d5e"],"x":375,"y":1560,"wires":[]},{"id":"87f6ba81.5edcc","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"cam1","pt":"flow","to":"0","tot":"bin"},{"t":"set","p":"cam2","pt":"flow","to":"","tot":"bin"},{"t":"set","p":"cam3","pt":"msg","to":"","tot":"bin"},{"t":"set","p":"cam4","pt":"msg","to":"","tot":"bin"},{"t":"set","p":"cam5","pt":"msg","to":"","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1160,"wires":[[]]},{"id":"8555aa9f.c8ff18","type":"function","z":"c2eb26bc.d76c48","name":"","func":"flow.set(\"gcam3\" ,msg.payload.cam1);\nflow.set(\"gcam4\" ,msg.payload.cam2);\nflow.set(\"gcam5\" ,msg.payload.cam3);\n","outputs":1,"noerr":0,"x":190,"y":960,"wires":[[]]},{"id":"9f8deb19.567d98","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"gate_trigger\";\nmsg.payload = {};\nmsg.payload.gate = \"Left\";\nmsg.payload.stat = \"1\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":520,"wires":[["3d3a9b95.117cf4"]]},{"id":"42160e24.79bc9","type":"inject","z":"c2eb26bc.d76c48","name":"","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":1510,"y":560,"wires":[["9f8deb19.567d98"]]},{"id":"71669094.4bd54","type":"change","z":"18d4298d.3d2996","name":"Set Headers","rules":[{"t":"set","p":"bh","pt":"msg","to":"headers","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"bh.content-type","tot":"msg"},{"t":"set","p":"headers.imagetime","pt":"msg","to":"bh.imagetime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":160,"wires":[[]]},{"id":"25550070.cf7358","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"stat","method":"get","upload":false,"swaggerDoc":"","x":220,"y":580,"wires":[["f764b32.ecc7fd","2b1c1d29.29ad22"]]},{"id":"2b1c1d29.29ad22","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":390,"y":600,"wires":[]},{"id":"54489ef2.17a1e8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg2 = {};\nmsg2.payload = msg.payload;\nmsg2.socketIOEvent = msg.socketIOEvent;\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":900,"wires":[["3d3a9b95.117cf4"]]},{"id":"d1bcdef3.0985f8","type":"debug","z":"c2eb26bc.d76c48","name":"","active":true,"console":"false","complete":"true","x":1370,"y":920,"wires":[]},{"id":"ddb02a44.c0e62","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["8b0ee434.a6f0b"],"x":1395,"y":980,"wires":[]},{"id":"f63f2b0c.bec74","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.payload.length > 0){\n    msg.url = \"https://localhost:16009/lightCallback?light=bistrol&status=\" + (msg.topic == 0 ? 0 : 1) + \"&i=\" + Math.random();\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":980,"wires":[["ddb02a44.c0e62"]]},{"id":"68fa9964.f4c108","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"gCallBack","method":"get","upload":false,"swaggerDoc":"","x":440,"y":1720,"wires":[["818392ab.64dbc"]]},{"id":"818392ab.64dbc","type":"function","z":"c2eb26bc.d76c48","name":"","func":"// open = 1, closed = 2, transit = 4\nmsg.garage = msg.payload.garage;\nfor (const g in msg.payload) {\n    msg.topic = \"UPDATE GARAGES SET STATUS = \" + msg.payload.status + \" where name='\" + msg.payload.garage + \"';\";\n    node.send(msg);\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1720,"wires":[["e061a757.93ad28"]]}]
