console
[{"id":"c2eb26bc.d76c48","type":"tab","label":"Flow 1"},{"id":"18d4298d.3d2996","type":"tab","label":"Flow 2"},{"id":"6c1264a5.ba3fd4","type":"sqlitedb","z":"","db":"/home/pi/garages.db"},{"id":"a624899b.97c448","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"71d99083.b15818","type":"light-scheduler-settings","z":"c2eb26bc.d76c48","name":"my settings","latitude":"32.8110114","longitude":"-116.902835"},{"id":"ad16e3fe.85b0f","type":"socketio-config","z":"","port":"1881","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"a22e66b6.978ef8","type":"websocket-client","z":"","path":"ws://10.0.1.135:1880/ws/socket","wholemsg":"true"},{"id":"b4797079.ff82a","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"6815048f.82426c","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"garage","method":"get","upload":false,"swaggerDoc":"","x":90,"y":340,"wires":[["bd5dce79.b749b","1694fa2a.a72a0e"]]},{"id":"fc9be186.9c84","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.payload == \"white\" || msg.payload == \"img-swap\"){\n    msg.topic = \"UPDATE GARAGES SET STATUS = NOT STATUS where NAME='\" + msg.garage + \"'\";\n    return [msg,null];\n}else if (typeof(msg.garage) != \"undefined\"){\n    msg.topic = \"SELECT * FROM GARAGES where NAME = '\" + msg.garage + \"';\";\n    }\n    else{\nmsg.topic = \"SELECT * FROM GARAGES;\";\n} \nreturn [null,msg];","outputs":"2","noerr":0,"x":650,"y":488.75,"wires":[["c466281b.6f7178"],["68bc17f9.10db7"]]},{"id":"c466281b.6f7178","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":655.5,"y":532.25,"wires":[["fc9be186.9c84"]]},{"id":"68bc17f9.10db7","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":850,"y":495,"wires":[["d198830a.80f9b8"]]},{"id":"bdee4186.0eab48","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nif (typeof(msg.req) != \"undefined\"){\n    if(msg.req.route.path == \"/status\"){\n        msg.socketIOEvent = \"starttoggle\";\n        msg.payload = \"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \"}\";\n    }\n    else{\n        msg.socketIOEvent = \"toggle\";\n        msg.payload = \"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \",\\\"interval\\\":\" + msg.payload.INTERVAL + \"}\";\n    }\n}\nelse{\n    if (msg.socketIOEvent != \"status\"){\n        msg.socketIOEvent = \"toggle\";\n        msg.payload = \"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \",\\\"interval\\\":\" + msg.payload.INTERVAL + \"}\";\n    }\n    else{\n        msg.socketIOEvent = \"toggle\";\n        msg.payload = \"{\\\"switch\\\":\\\"\" + msg.payload.NAME + \"\\\",\\\"state\\\":\" + msg.payload.STATUS + \"}\";\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1101,"y":497,"wires":[["3d3a9b95.117cf4"]]},{"id":"85efcdb8.80a438","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":230,"y":500,"wires":[["cfae8d21.cd0148","31bbeb8e.33c14c"]]},{"id":"bd5dce79.b749b","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.garage = msg.payload.garage;\nmsg.topic = \"SELECT URL, STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":440,"wires":[["85efcdb8.80a438"]]},{"id":"cfae8d21.cd0148","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.payload.length > 0){\n    msg.url = msg.payload[0].URL + \"&gstatus=\" + msg.payload[0].STATUS + \"&i=\" + Math.random();\n    return [null,msg];\n}\nelse{\n    return [msg, null];\n}\n\n","outputs":"2","noerr":0,"x":350,"y":500,"wires":[[],["39c83abd.cc0796"]]},{"id":"32007a17.18eb8e","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":790,"y":660,"wires":[["1e9201e4.8a3afe"]]},{"id":"43b6233b.5f5d5c","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":590,"y":700,"wires":[["a60e0310.3613e8","f3608a55.109228"]]},{"id":"a60e0310.3613e8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":660,"wires":[["32007a17.18eb8e"]]},{"id":"1e9201e4.8a3afe","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"hmode\";\nmsg.payload = msg.payload[0].MODE;\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":660,"wires":[["3d3a9b95.117cf4"]]},{"id":"cee4e9e9.b4974","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"lightswitch","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1500,"wires":[["d85815c9.2d9ef"]]},{"id":"737ae636.65d4b","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":830,"y":1340,"wires":[]},{"id":"e1f8d1c2.9ff2","type":"trigger","z":"c2eb26bc.d76c48","op1":"","op2":"off","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","name":"","x":341,"y":1103,"wires":[["665eefe6.abc6d8"]]},{"id":"68f9caa1.4a19a4","type":"trigger","z":"c2eb26bc.d76c48","op1":"light-only","op2":"","op1type":"str","op2type":"nul","duration":"4","extend":true,"units":"min","reset":"","name":"","x":341,"y":1030.25,"wires":[["665eefe6.abc6d8"]]},{"id":"4d0cc462.ae3c04","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nif (msg.payload == \"ON\"){\n    msg.url = \"https://maker.ifttt.com/trigger/LightsOn/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\n    return [msg, null, null];\n}\n\nif (msg.payload == \"OFF\"){\n    msg.url = \"https://maker.ifttt.com/trigger/LightsOff/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\n    return [null, null, msg];\n}","outputs":"3","noerr":0,"x":634,"y":1063,"wires":[["2acad2cc.5afc9e"],[],["2acad2cc.5afc9e"]]},{"id":"130aaaaa.84b4d5","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"/camhook","method":"post","swaggerDoc":"","x":105,"y":1048.25,"wires":[["68f9caa1.4a19a4","e1f8d1c2.9ff2","b3ad906c.c077d"]]},{"id":"b3ad906c.c077d","type":"http response","z":"c2eb26bc.d76c48","name":"","x":322,"y":1065.75,"wires":[]},{"id":"665eefe6.abc6d8","type":"light-scheduler","z":"c2eb26bc.d76c48","settings":"71d99083.b15818","events":"[]","topic":"","name":"Sun","onPayload":"ON","onPayloadType":"str","offPayload":"OFF","offPayloadType":"str","onlyWhenDark":true,"sunElevationThreshold":"-5","sunShowElevationInStatus":true,"outputfreq":"output.statechange","x":492,"y":1065,"wires":[["4d0cc462.ae3c04"]]},{"id":"c568490e.71658","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"arrive","method":"get","upload":false,"swaggerDoc":"","x":80,"y":220,"wires":[["bfccb065.caf7f","1694fa2a.a72a0e","c78e4a10.4fcbd8","8076a02d.a74dd"]]},{"id":"bfccb065.caf7f","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.user = msg.payload.user;\nmsg.garage = \"g\" + msg.payload.user.toLowerCase();\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["2bfec8d6.a66868","34f791f6.680276"]]},{"id":"578361cb.805228","type":"exec","z":"c2eb26bc.d76c48","command":"augustctl front ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":1660,"wires":[["7f5c4a56.bbcbfc"],[],[]]},{"id":"3478c9ba.2bd0fe","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"depart","method":"get","upload":false,"swaggerDoc":"","x":87,"y":87,"wires":[["ee2c86f7.8874e8","1694fa2a.a72a0e"]]},{"id":"bbcefa1d.9639c","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":365,"y":87,"wires":[["531bf82c.3a9de8"]]},{"id":"ee2c86f7.8874e8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.user = \"\";\nif(typeof(msg.payload.user) != \"undefined\")\n    msg.user = msg.payload.user;\n    \nmsg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":87,"wires":[["bbcefa1d.9639c"]]},{"id":"531bf82c.3a9de8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = msg.payload[0].MODE;\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":87.75,"wires":[["52bb2d46.c7d4b4"]]},{"id":"52bb2d46.c7d4b4","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"away","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":608,"y":87.75,"wires":[["e6d99243.b1c9d8","9764f0ca.7a3b"],["5b07f057.561c38"]]},{"id":"1694fa2a.a72a0e","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":230,"y":120,"wires":[]},{"id":"9b663f47.60c748","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload.house","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":250,"y":300,"wires":[["26c2a380.1835d4"]]},{"id":"d198830a.80f9b8","type":"split","z":"c2eb26bc.d76c48","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":976,"y":495.75,"wires":[["bdee4186.0eab48"]]},{"id":"a304f3b2.d39ec8","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":626,"y":1501,"wires":[["737ae636.65d4b"]]},{"id":"4db59fe8.7f14d","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":610,"y":1647,"wires":[["f8997df1.1ea3e8"]]},{"id":"7f5c4a56.bbcbfc","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nmsg.topic = \"UPDATE LOCK SET LOCK = '\" + msg.payload.trim() + \"';\";\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1647,"wires":[["4db59fe8.7f14d"]]},{"id":"1ebb2af0.0679d5","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":790,"y":620,"wires":[["6d3ab8eb.4edec8"]]},{"id":"12d0fed3.12fbf1","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.mode = msg.payload;\nmsg.topic = \"select * from lock;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":620,"wires":[["1ebb2af0.0679d5"]]},{"id":"6d3ab8eb.4edec8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"lock\";\nmsg.payload = msg.payload[0].LOCK;\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":620,"wires":[["3d3a9b95.117cf4"]]},{"id":"11851ab9.81a67d","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"checkmode","method":"get","upload":false,"swaggerDoc":"","x":98,"y":39,"wires":[["ae5773f1.476fa8"]]},{"id":"ae5773f1.476fa8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":415,"y":37,"wires":[["fe2bfa0f.a622c8"]]},{"id":"fe2bfa0f.a622c8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":543,"y":37,"wires":[["a08b9816.abd088"]]},{"id":"d13e6984.843","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":874,"y":36.5,"wires":[]},{"id":"a08b9816.abd088","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].MODE","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":699,"y":36.75,"wires":[["d13e6984.843"]]},{"id":"da88cbe8.776af","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM LOCK;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["cea683cf.4687f8"]]},{"id":"cea683cf.4687f8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":470,"y":160,"wires":[["b6001486.3cd618"]]},{"id":"a5c10f5f.e29ca","type":"link in","z":"c2eb26bc.d76c48","name":"lock_status","links":["f8997df1.1ea3e8","f764b32.ecc7fd"],"x":555,"y":620,"wires":[["12d0fed3.12fbf1"]]},{"id":"f8997df1.1ea3e8","type":"link out","z":"c2eb26bc.d76c48","name":"Lock_Out","links":["a5c10f5f.e29ca"],"x":695,"y":1647,"wires":[]},{"id":"6ae00171.8b3248","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":890,"y":160,"wires":[["9e8f6908.47046"]]},{"id":"e6d99243.b1c9d8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.garage = msg.payload.garage;\nmsg.topic = \"SELECT * FROM GARAGES WHERE STATUS = 1;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":160,"wires":[["6ae00171.8b3248"]]},{"id":"9e8f6908.47046","type":"split","z":"c2eb26bc.d76c48","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1010,"y":160,"wires":[["a5e83648.93b238"]]},{"id":"a5e83648.93b238","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"garage","pt":"msg","to":"payload.NAME","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"payload.URL","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":160,"wires":[["d0f7dbe6.f1535"]]},{"id":"c7b5e61.41f7698","type":"link out","z":"c2eb26bc.d76c48","name":"garage","links":["37437025.6f0a78"],"x":1455,"y":160,"wires":[]},{"id":"37437025.6f0a78","type":"link in","z":"c2eb26bc.d76c48","name":"","links":["c7b5e61.41f7698"],"x":355,"y":500,"wires":[["39c83abd.cc0796"]]},{"id":"d3b8018e.331a78","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"UPDATE SLIDER SET SLIDER = \" + msg.payload + \";\";\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":940,"wires":[["9ccdc01d.291198","21fe68b.f203898"]]},{"id":"9ccdc01d.291198","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":470,"y":900,"wires":[["4b1f6e9.42e639"]]},{"id":"4b1f6e9.42e639","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"SELECT * FROM SLIDER;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":900,"wires":[["b0c1a469.8989e"]]},{"id":"b0c1a469.8989e","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":810,"y":900,"wires":[["ca6eed23.7617f8"]]},{"id":"215f83c4.fd750c","type":"http request","z":"c2eb26bc.d76c48","name":"Slider Lights","method":"POST","ret":"txt","url":"","tls":"","x":650,"y":940,"wires":[[]]},{"id":"21fe68b.f203898","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.url = \"https://maker.ifttt.com/trigger/\" + msg.payload + \"p/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\n    return msg;\n\n","outputs":"1","noerr":0,"x":470,"y":940,"wires":[["215f83c4.fd750c"]]},{"id":"ca6eed23.7617f8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nif (msg.socketIOEvent != \"status\"){\n    msg.socketIOEvent = \"slider\";\n    msg.payload = msg.payload[0].SLIDER;\n}\nelse{\n    msg.socketIOEvent = \"startup\";\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":900,"wires":[["3d3a9b95.117cf4"]]},{"id":"be012d10.d703c","type":"light-scheduler","z":"c2eb26bc.d76c48","settings":"71d99083.b15818","events":"[]","topic":"","name":"","onPayload":"true","onPayloadType":"bool","offPayload":"false","offPayloadType":"bool","onlyWhenDark":true,"sunElevationThreshold":"6","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":620,"y":1200,"wires":[["e3f81441.76b2"]]},{"id":"acfa7af4.255948","type":"start-up-trigger","z":"c2eb26bc.d76c48","x":180,"y":1200,"wires":[["39f664bc.b24574"]]},{"id":"e3f81441.76b2","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"night","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1200,"wires":[[]]},{"id":"c78e4a10.4fcbd8","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"night","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":250,"y":340,"wires":[["2293a0ff.e098c8","9b663f47.60c748"]]},{"id":"2293a0ff.e098c8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.turnon = 1;\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = 'glight'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":340,"wires":[["306f9f4c.01d5","e7e796cd.d87538"]]},{"id":"306f9f4c.01d5","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":340,"wires":[["88701ac4.4c769"]]},{"id":"88701ac4.4c769","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"turnon","vt":"msg"}],"checkall":"true","outputs":1,"x":630,"y":340,"wires":[["9e53202e.fc5c4","6049c823.0c02d8"]]},{"id":"9e53202e.fc5c4","type":"trigger","z":"c2eb26bc.d76c48","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"8","extend":false,"units":"min","reset":"","name":"","x":810,"y":340,"wires":[["49810642.05ffb"]]},{"id":"49810642.05ffb","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"turnon","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":340,"wires":[["306f9f4c.01d5"]]},{"id":"6049c823.0c02d8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = \"glight\";\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":400,"wires":[["88a97ff.a4ddb8"]]},{"id":"5b07f057.561c38","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if(msg.user === \"\"){\n    return null;\n}else{\nmsg.garage = \"g\" + msg.user.toLowerCase();\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":770,"y":120,"wires":[["50cb1b16.9904a4"]]},{"id":"9bd2ba67.233a5","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"/lightCallback","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1340,"wires":[["a7e434a9.5aed48","737ae636.65d4b"]]},{"id":"a7e434a9.5aed48","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.topic = \"UPDATE GARAGES SET STATUS = \" + msg.payload.status + \" where NAME='\" + msg.payload.light + \"'\";\nmsg.garage = msg.payload.light;\nreturn msg;","outputs":"1","noerr":0,"x":370,"y":1380,"wires":[["7e1796eb.3ff4b8"]]},{"id":"7e1796eb.3ff4b8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":1380,"wires":[["e76de2cd.851378"]]},{"id":"e76de2cd.851378","type":"link out","z":"c2eb26bc.d76c48","name":"get_status","links":["741f93df.6b68bc"],"x":655,"y":1380,"wires":[]},{"id":"741f93df.6b68bc","type":"link in","z":"c2eb26bc.d76c48","name":"garage_status","links":["135e2b6f.b9d7e5","e76de2cd.851378","f764b32.ecc7fd"],"x":515,"y":500,"wires":[["fc9be186.9c84"]]},{"id":"ace9fdcc.5d8188","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"reset","method":"get","upload":false,"swaggerDoc":"","x":803,"y":558,"wires":[["9dd6142a.e8b5b8"]]},{"id":"9dd6142a.e8b5b8","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nmsg.garage = msg.payload.garage;\nmsg.payload = \"white\"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":560,"wires":[["fc9be186.9c84","b81bc948.b8eb9"]]},{"id":"d6380fe8.3c0e18","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":1230,"y":560,"wires":[]},{"id":"d0f7dbe6.f1535","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload.URL = msg.payload.URL + \"?i=\" + Math.random();\nreturn msg;","outputs":1,"noerr":0,"x":1350,"y":160,"wires":[["c7b5e61.41f7698"]]},{"id":"3d3a9b95.117cf4","type":"socketio-out","z":"c2eb26bc.d76c48","name":"","server":"ad16e3fe.85b0f","x":1302,"y":644,"wires":[]},{"id":"5adabc2d.5c02bc","type":"socketio-in","z":"c2eb26bc.d76c48","name":"","server":"ad16e3fe.85b0f","rules":[{"v":"garage"},{"v":"status"},{"v":"mode"},{"v":"lightslide"},{"v":"lock"},{"v":"tuber"},{"v":"cameraReq"},{"v":"cameraIn"}],"x":70,"y":700,"wires":[["489c6ae7.47c47c"]]},{"id":"141ad609.c69d92","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.garage = msg.payload;\nmsg.topic = \"SELECT URL, STATUS FROM GARAGES WHERE NAME = '\" + msg.garage + \"'\";\n\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":500,"wires":[["85efcdb8.80a438"]]},{"id":"489c6ae7.47c47c","type":"switch","z":"c2eb26bc.d76c48","name":"checkEvent","property":"socketIOEvent","propertyType":"msg","rules":[{"t":"eq","v":"garage","vt":"str"},{"t":"eq","v":"status","vt":"str"},{"t":"eq","v":"mode","vt":"str"},{"t":"eq","v":"lightslide","vt":"str"},{"t":"eq","v":"lock","vt":"str"},{"t":"eq","v":"tuber","vt":"str"},{"t":"eq","v":"cameraReq","vt":"str"},{"t":"eq","v":"cameraIn","vt":"str"}],"checkall":"false","outputs":8,"x":230,"y":700,"wires":[["141ad609.c69d92","5ec74f7c.1de5f"],["f764b32.ecc7fd"],["2a66f7e0.672e58"],["d3b8018e.331a78"],["200c3d1b.0a9ee2"],[],["683f3048.87a55"],[]]},{"id":"5ec74f7c.1de5f","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.socketIOEvent = \"disable\";\nmsg.payload = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":580,"wires":[["3d3a9b95.117cf4"]]},{"id":"f764b32.ecc7fd","type":"link out","z":"c2eb26bc.d76c48","name":"status_check","links":["170a30d5.d0be67","44f44a96.2ee09c","741f93df.6b68bc","a5c10f5f.e29ca","d437d1c4.ffd66"],"x":355,"y":660,"wires":[]},{"id":"d437d1c4.ffd66","type":"link in","z":"c2eb26bc.d76c48","name":"mode_status","links":["f764b32.ecc7fd","1d12050b.df8a43"],"x":555,"y":660,"wires":[["a60e0310.3613e8"]]},{"id":"170a30d5.d0be67","type":"link in","z":"c2eb26bc.d76c48","name":"slider_status","links":["f764b32.ecc7fd"],"x":555,"y":880,"wires":[["4b1f6e9.42e639"]]},{"id":"37968efd.6f5a82","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.socketIOEvent == \"status\"){\n    msg.socketIOEvent = \"temps\";\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":960,"wires":[["3d3a9b95.117cf4"]]},{"id":"bcd86a3a.dfad","type":"link in","z":"c2eb26bc.d76c48","name":"Lock_IN","links":["9d175e9c.1c7fb8","d1ea2aea.145cf","f7a758c2.5bac18"],"x":86,"y":1659.25,"wires":[["578361cb.805228"]]},{"id":"b6001486.3cd618","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = msg.payload[0].LOCK;\nif (msg.payload == \"unlock\")\n    msg.payload = \"lock\";\nelse\n    msg.payload = \"unlock\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["9d175e9c.1c7fb8"]]},{"id":"9d175e9c.1c7fb8","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["bcd86a3a.dfad"],"x":675,"y":160,"wires":[]},{"id":"9764f0ca.7a3b","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = \"lock\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":80,"wires":[["d1ea2aea.145cf"]]},{"id":"d1ea2aea.145cf","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["bcd86a3a.dfad"],"x":895,"y":80,"wires":[]},{"id":"f10d8cc2.6b6e4","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = \"unlock\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["f7a758c2.5bac18"]]},{"id":"f7a758c2.5bac18","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["bcd86a3a.dfad"],"x":503.88897705078125,"y":238.88888549804688,"wires":[]},{"id":"d85815c9.2d9ef","type":"function","z":"c2eb26bc.d76c48","name":"","func":"var onoff = msg.payload.gstatus == \"1\"? \"off\" : \"on\";\nmsg.url = \"https://maker.ifttt.com/trigger/\"+ msg.payload.light + \"_\" + onoff + \"/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\n    return msg;\n\n","outputs":"1","noerr":0,"x":291,"y":1501,"wires":[["b8009743.865f38","a304f3b2.d39ec8"]]},{"id":"c63ef995.18fdb","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"temps","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":1000,"wires":[["37968efd.6f5a82"]]},{"id":"44f44a96.2ee09c","type":"link in","z":"c2eb26bc.d76c48","name":"slider_status","links":["f764b32.ecc7fd"],"x":775,"y":960,"wires":[[]]},{"id":"49751bfa.e89f44","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"temps","tot":"flow"},{"t":"set","p":"socketIOEvent","pt":"msg","to":"temps","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":960,"wires":[["37968efd.6f5a82"]]},{"id":"be35f116.c651d","type":"link in","z":"c2eb26bc.d76c48","name":"lock","links":["200c3d1b.0a9ee2"],"x":215,"y":160,"wires":[["da88cbe8.776af"]]},{"id":"200c3d1b.0a9ee2","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["be35f116.c651d"],"x":355,"y":720,"wires":[]},{"id":"a20e7525.cd247","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"resetGarage","method":"get","upload":false,"swaggerDoc":"","x":1002,"y":1103,"wires":[["f033e52f.a030d"]]},{"id":"f033e52f.a030d","type":"template","z":"c2eb26bc.d76c48","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, user-scalable=0\">\n    <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    </head>\n<style>\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n    font-size:25px;\n}\ninput[type=text], label, h3 {\nfont-family: 'Roboto', sans-serif;}\n\ninput[type=submit] {\n    width: 100%;\n    height:40px;\n    background-color: green;\n    color: black;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    max-width:400px;\n}\n</style>\n<body>\n\n<h3>Compound Garage Reset</h3>\n<div>\n  <form action=\"/reset\">\n   \n    <label for=\"garage\">Garage</label>\n    <select id=\"garage\" name=\"garage\">\n      <option value=\"gruby\">Ruby</option>\n      <option value=\"gtruck\">Truck</option>\n      <option value=\"glotus\">Lotus</option>\n      <option value=\"gferrari\">Ferrari</option>\n      <option value=\"gsupra\">Supra</option>\n      <option value=\"glight\">Light</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n\n</body>\n</html>\n","output":"str","x":1182,"y":1103,"wires":[["e5849d18.cda39"]]},{"id":"e5849d18.cda39","type":"http response","z":"c2eb26bc.d76c48","name":"","statusCode":"","headers":{},"x":1322,"y":1103,"wires":[]},{"id":"b81bc948.b8eb9","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.statusCode = 303;\nmsg.headers = {\n    Location: \"/resetGarage\"\n}\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":560,"wires":[["d6380fe8.3c0e18"]]},{"id":"d2162a7d.515a9","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nmsg.url = \"https://localhost:16009/mode?mode=\" + msg.payload[0].MODE\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":700,"wires":[["6359afe1.3d185"]]},{"id":"f3608a55.109228","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nmsg.topic = \"SELECT * FROM MODE;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":700,"wires":[["9cfee0b4.592b48"]]},{"id":"9cfee0b4.592b48","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":870,"y":700,"wires":[["d2162a7d.515a9"]]},{"id":"2a66f7e0.672e58","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.mode = msg.payload;\nmsg.topic = \"UPDATE MODE SET MODE = '\" + msg.mode.trim() + \"';\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":700,"wires":[["43b6233b.5f5d5c"]]},{"id":"6bc1c90a.3b941","type":"http in","z":"18d4298d.3d2996","name":"","url":"/opengate","method":"get","upload":false,"swaggerDoc":"","x":162,"y":73,"wires":[["ca39ffa6.5a1d98"]]},{"id":"aa26ecc.e7fae1","type":"http in","z":"18d4298d.3d2996","name":"","url":"/lockopengate","method":"get","upload":false,"swaggerDoc":"","x":171,"y":110.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"123d6027.d59938","type":"http in","z":"18d4298d.3d2996","name":"","url":"/normalgate","method":"get","upload":false,"swaggerDoc":"","x":160,"y":148.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"6ac80666.e90f4","type":"http in","z":"18d4298d.3d2996","name":"","url":"/addgateuser","method":"get","upload":false,"swaggerDoc":"","x":170,"y":186,"wires":[["ca39ffa6.5a1d98"]]},{"id":"5af69d31.78a8fc","type":"http in","z":"18d4298d.3d2996","name":"","url":"/addgateuserb","method":"get","upload":false,"swaggerDoc":"","x":169,"y":221.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"f19733e7.4d2a1","type":"http in","z":"18d4298d.3d2996","name":"","url":"/removegateuser","method":"get","upload":false,"swaggerDoc":"","x":176,"y":258.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"fd2981d.4d60e","type":"http in","z":"18d4298d.3d2996","name":"","url":"/gateusers","method":"get","upload":false,"swaggerDoc":"","x":155,"y":296.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"b0a6256.224b9d8","type":"http in","z":"18d4298d.3d2996","name":"","url":"/logs","method":"get","upload":false,"swaggerDoc":"","x":135,"y":331.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"eb0bd2fd.ee6fc","type":"http in","z":"18d4298d.3d2996","name":"","url":"/camera","method":"get","upload":false,"swaggerDoc":"","x":145,"y":370.75,"wires":[["ca39ffa6.5a1d98"]]},{"id":"5d8d336.78f764c","type":"http request","z":"18d4298d.3d2996","name":"","method":"GET","ret":"bin","url":"","tls":"","x":719,"y":194.75,"wires":[["8cb3ff16.3fe1b"]]},{"id":"c76fd4a2.2b5298","type":"function","z":"18d4298d.3d2996","name":"","func":"msg.url = \"http://\" + msg.serverip + \":1881\" + msg.req.originalUrl;\nreturn msg;","outputs":1,"noerr":0,"x":571,"y":195.75,"wires":[["5d8d336.78f764c"]]},{"id":"a79914c6.dc7ab","type":"http response","z":"18d4298d.3d2996","name":"","statusCode":"","headers":{},"x":1039.25,"y":188.25,"wires":[]},{"id":"5f6c07f0.a32898","type":"http in","z":"c2eb26bc.d76c48","name":"","url":"gateStart","method":"get","upload":false,"swaggerDoc":"","x":580,"y":800,"wires":[["f3608a55.109228","cd1b6f1a.9fcd5"]]},{"id":"8aea52d4.4cd69","type":"function","z":"18d4298d.3d2996","name":"","func":"msg.timing = msg.payload -0;\nresetmsg = {};\nresetmsg.topic = msg.topic;\nresetmsg.reset = true;\nif (msg.timing > 0.0001)\n    return [msg, resetmsg];\nelse{\n    return [resetmsg, msg];\n}","outputs":"2","noerr":0,"x":541,"y":524,"wires":[["6e122fcb.23c0b8"],["98509f8a.8db2b"]]},{"id":"6e122fcb.23c0b8","type":"trigger","z":"18d4298d.3d2996","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"2","extend":true,"units":"s","reset":"","name":"","x":700.7499389648438,"y":518,"wires":[["e509cd94.cd75e"]]},{"id":"e509cd94.cd75e","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"ipUp","pt":"flow","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":869.75,"y":517,"wires":[[]]},{"id":"7c4d4158.ada928","type":"start-up-trigger","z":"18d4298d.3d2996","x":85,"y":666.75,"wires":[["8ed5d1c5.e8a7f8"]]},{"id":"8ed5d1c5.e8a7f8","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"ipUp","pt":"flow","to":"10.0.1.107","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":319,"y":669,"wires":[[]]},{"id":"ca39ffa6.5a1d98","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"serverip","pt":"msg","to":"ipUp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":412,"y":197,"wires":[["c76fd4a2.2b5298"]]},{"id":"3f94dda6.59bc6a","type":"trigger","z":"18d4298d.3d2996","op1":"","op2":"boom","op1type":"nul","op2type":"str","duration":"2","extend":false,"units":"hr","reset":"","name":"","x":744,"y":626.25,"wires":[["c43ffbbb.249298"]]},{"id":"98509f8a.8db2b","type":"switch","z":"18d4298d.3d2996","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"10.0.1.107","vt":"str"},{"t":"eq","v":"10.0.1.114","vt":"str"}],"checkall":"true","outputs":2,"x":582,"y":610.25,"wires":[["b5d5ad38.a9a91"],["3f94dda6.59bc6a"]]},{"id":"c43ffbbb.249298","type":"http request","z":"18d4298d.3d2996","name":"","method":"GET","ret":"bin","url":"https://compound.latentsolutions.com:16009/rebootPi","tls":"b4797079.ff82a","x":917,"y":627,"wires":[[]]},{"id":"b5d5ad38.a9a91","type":"trigger","z":"18d4298d.3d2996","op1":"","op2":"boom","op1type":"nul","op2type":"str","duration":"2","extend":false,"units":"hr","reset":"","name":"","x":745,"y":593,"wires":[["c43ffbbb.249298"]]},{"id":"369dd30f.e0e85c","type":"http in","z":"18d4298d.3d2996","name":"","url":"/rebootPi","method":"get","upload":false,"swaggerDoc":"","x":151,"y":35,"wires":[["ca39ffa6.5a1d98"]]},{"id":"ef49a9e8.273fd8","type":"http in","z":"18d4298d.3d2996","name":"","url":"/camera.jpg","method":"get","upload":false,"swaggerDoc":"","x":340,"y":380,"wires":[["ca39ffa6.5a1d98"]]},{"id":"8cb3ff16.3fe1b","type":"switch","z":"18d4298d.3d2996","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":883,"y":194.75,"wires":[["a79914c6.dc7ab"],["4820bb30.2084cc"]]},{"id":"fea0735d.b616e","type":"http request","z":"18d4298d.3d2996","name":"","method":"POST","ret":"txt","url":"","tls":"b4797079.ff82a","x":690.25,"y":756,"wires":[["260bdd76.e98c82"]]},{"id":"260bdd76.e98c82","type":"switch","z":"18d4298d.3d2996","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":870.25,"y":756,"wires":[[],["d8a0f472.90a5c"]]},{"id":"3aeab89d.ba65f","type":"link in","z":"18d4298d.3d2996","name":"http_retry_request","links":["c8b49a1e.1ecf1","8613755f.aa9058","43addb12.87a4c4","2acad2cc.5afc9e","b8009743.865f38","51f4ef49.82efc8","bb97d10c.e6a75"],"x":175,"y":760,"wires":[["6cee03d9.4e6624"]]},{"id":"d8a0f472.90a5c","type":"delay","z":"18d4298d.3d2996","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640.25,"y":836,"wires":[["5913c174.77e1f8"]]},{"id":"6cee03d9.4e6624","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"psave","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300.25,"y":756,"wires":[["5913c174.77e1f8"]]},{"id":"5913c174.77e1f8","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"psave","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500.25,"y":756,"wires":[["fea0735d.b616e"]]},{"id":"4820bb30.2084cc","type":"delay","z":"18d4298d.3d2996","name":"","pauseType":"delay","timeout":"1000","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":731,"y":259,"wires":[["ca39ffa6.5a1d98"]]},{"id":"2acad2cc.5afc9e","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["3aeab89d.ba65f","546268dc.a3d5e"],"x":762.5,"y":1061.25,"wires":[]},{"id":"b8009743.865f38","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["3aeab89d.ba65f","546268dc.a3d5e"],"x":485,"y":1500,"wires":[]},{"id":"31bbeb8e.33c14c","type":"function","z":"c2eb26bc.d76c48","name":"","func":"if (msg.garage == \"gruby\" && msg.payload[0].STATUS === 0){\nmsg.turnon = 1;\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = 'garagel'\";\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["e1a504eb.19d258"]]},{"id":"e1a504eb.19d258","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":440,"wires":[["fac8d795.dfb1b8"]]},{"id":"1b2366a2.8e04a1","type":"trigger","z":"c2eb26bc.d76c48","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"8","extend":false,"units":"min","reset":"","name":"","x":830,"y":440,"wires":[["a92186ed.9b866"]]},{"id":"a92186ed.9b866","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"turnon","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":440,"wires":[["e1a504eb.19d258"]]},{"id":"26c2a380.1835d4","type":"function","z":"c2eb26bc.d76c48","name":"","func":"\nmsg.turnon = 1;\nmsg.topic = \"SELECT STATUS FROM GARAGES WHERE NAME = 'kitl'\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["c9890d37.8d9db8","b992a6a8.0b2748"]]},{"id":"c9890d37.8d9db8","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":300,"wires":[["6ee8af45.a5f5d8"]]},{"id":"fac8d795.dfb1b8","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"turnon","vt":"msg"}],"checkall":"true","outputs":1,"x":630,"y":440,"wires":[["1b2366a2.8e04a1","c72f94e0.79be5"]]},{"id":"9abef195.7f6508","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = \"kitl\";\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":400,"wires":[["db737e93.eb3dc"]]},{"id":"c72f94e0.79be5","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = \"garagel\";\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["fd1250e8.83"]]},{"id":"8076a02d.a74dd","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload.house","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":1,"x":251.11111450195312,"y":241.11111450195312,"wires":[["f10d8cc2.6b6e4"]]},{"id":"6ee8af45.a5f5d8","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"turnon","vt":"msg"}],"checkall":"true","outputs":1,"x":630,"y":300,"wires":[["9abef195.7f6508"]]},{"id":"cd1b6f1a.9fcd5","type":"http response","z":"c2eb26bc.d76c48","name":"","x":750,"y":800,"wires":[]},{"id":"6359afe1.3d185","type":"http request","z":"c2eb26bc.d76c48","name":"","method":"GET","ret":"txt","url":"","tls":"a624899b.97c448","x":1270,"y":700,"wires":[[]]},{"id":"bfcfc597.cad538","type":"http in","z":"18d4298d.3d2996","name":"","url":"/mode","method":"get","upload":false,"swaggerDoc":"","x":145,"y":411.25,"wires":[["ca39ffa6.5a1d98"]]},{"id":"aa099ce3.9deff8","type":"http in","z":"18d4298d.3d2996","name":"","url":"/tmp/:filename","method":"get","upload":false,"swaggerDoc":"","x":350,"y":420,"wires":[["ca39ffa6.5a1d98"]]},{"id":"c728bd68.67d02","type":"function","z":"c2eb26bc.d76c48","name":"","func":"var cam = msg.payload;\nmsg.payload = {};\nmsg.payload.uid = msg.uid;\nmsg.payload.camera = cam.toString('base64');\n\nif(msg.payload.camera === \"\")\n    return [null,msg];\nelse\n    return [msg,null];","outputs":"2","noerr":0,"x":830,"y":740,"wires":[["3d3a9b95.117cf4"],["91abd36d.0aaae"]]},{"id":"91abd36d.0aaae","type":"file in","z":"c2eb26bc.d76c48","name":"","filename":"/mnt/ramdisk/camera.jpg","format":"","chunk":false,"sendError":false,"x":630,"y":740,"wires":[["c728bd68.67d02"]]},{"id":"683f3048.87a55","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.uid = msg.payload;\nmsg.socketIOEvent = \"gatecam\";\nmsg.socketIOEmit = \"emit\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":740,"wires":[["91abd36d.0aaae"]]},{"id":"2bfec8d6.a66868","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":510,"y":200,"wires":[["f884692a.6fdf5"]]},{"id":"f884692a.6fdf5","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":630,"y":200,"wires":[["c49b75a.5678608"]]},{"id":"c49b75a.5678608","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = msg.garage;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":200,"wires":[["84f7be49.80f0d"]]},{"id":"50cb1b16.9904a4","type":"sqlite","z":"c2eb26bc.d76c48","mydb":"6c1264a5.ba3fd4","name":"db","x":890,"y":120,"wires":[["641a942.3ec7f6c"]]},{"id":"641a942.3ec7f6c","type":"switch","z":"c2eb26bc.d76c48","name":"","property":"payload[0].STATUS","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":1010,"y":120,"wires":[["e7790772.31d99"]]},{"id":"e7790772.31d99","type":"function","z":"c2eb26bc.d76c48","name":"","func":"msg.payload = {};\nmsg.payload.garage = msg.garage;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":120,"wires":[["3a85aac4.a242e6"]]},{"id":"c8b5b8b5.e9bff","type":"link in","z":"c2eb26bc.d76c48","name":"garageTrigger","links":["88a97ff.a4ddb8","db737e93.eb3dc","fd1250e8.83","84f7be49.80f0d","3a85aac4.a242e6"],"x":75,"y":440,"wires":[["bd5dce79.b749b"]]},{"id":"88a97ff.a4ddb8","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":675,"y":400,"wires":[]},{"id":"db737e93.eb3dc","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":815,"y":400,"wires":[]},{"id":"fd1250e8.83","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":995,"y":400,"wires":[]},{"id":"84f7be49.80f0d","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":815,"y":200,"wires":[]},{"id":"3a85aac4.a242e6","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["c8b5b8b5.e9bff"],"x":1175,"y":120,"wires":[]},{"id":"39f664bc.b24574","type":"change","z":"c2eb26bc.d76c48","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"light-only","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1200,"wires":[["be012d10.d703c"]]},{"id":"34f791f6.680276","type":"debug","z":"c2eb26bc.d76c48","name":"","active":true,"console":"false","complete":"true","x":830,"y":240,"wires":[]},{"id":"b992a6a8.0b2748","type":"debug","z":"c2eb26bc.d76c48","name":"","active":true,"console":"false","complete":"true","x":830,"y":280,"wires":[]},{"id":"e7e796cd.d87538","type":"debug","z":"c2eb26bc.d76c48","name":"","active":true,"console":"false","complete":"true","x":830,"y":320,"wires":[]},{"id":"1bd78b69.c6b35d","type":"http request","z":"18d4298d.3d2996","name":"","method":"GET","ret":"txt","url":"","tls":"b4797079.ff82a","x":690,"y":880,"wires":[["9b6e897d.bee31"]]},{"id":"9b6e897d.bee31","type":"switch","z":"18d4298d.3d2996","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":870,"y":880,"wires":[["135e2b6f.b9d7e5"],["639e59d7.6b28a8"]]},{"id":"546268dc.a3d5e","type":"link in","z":"18d4298d.3d2996","name":"http_retry_request_return_in","links":["2acad2cc.5afc9e","b8009743.865f38","39c83abd.cc0796"],"x":174.75,"y":884,"wires":[["6bd3e469.6e6364"]]},{"id":"639e59d7.6b28a8","type":"delay","z":"18d4298d.3d2996","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":960,"wires":[["331ccd1e.5e767a"]]},{"id":"6bd3e469.6e6364","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"psave","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":880,"wires":[["331ccd1e.5e767a"]]},{"id":"331ccd1e.5e767a","type":"change","z":"18d4298d.3d2996","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"psave","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":880,"wires":[["1bd78b69.c6b35d"]]},{"id":"135e2b6f.b9d7e5","type":"link out","z":"18d4298d.3d2996","name":"http_retry_request_return_out","links":["741f93df.6b68bc"],"x":975,"y":880,"wires":[]},{"id":"39c83abd.cc0796","type":"link out","z":"c2eb26bc.d76c48","name":"","links":["546268dc.a3d5e"],"x":435,"y":500,"wires":[]},{"id":"d19268eb.03ea28","type":"debug","z":"c2eb26bc.d76c48","name":"","active":true,"console":"false","complete":"false","x":856,"y":773.5,"wires":[]},{"id":"6f1d482b.01d2e8","type":"daemon","z":"18d4298d.3d2996","name":"","command":"ping","args":"10.0.1.107","autorun":true,"cr":false,"redo":true,"op":"string","closer":"SIGKILL","x":208.5,"y":471.25,"wires":[["94c2ed36.ea671"],[],[]]},{"id":"94c2ed36.ea671","type":"function","z":"18d4298d.3d2996","name":"","func":"var timing = msg.payload.split(/[\\s=]+/g);\nmsg.payload = timing[9];\nmsg.topic = \"10.0.1.107\";\nreturn msg;","outputs":1,"noerr":0,"x":352,"y":459.75,"wires":[["8aea52d4.4cd69"]]},{"id":"a063ad3f.811668","type":"daemon","z":"18d4298d.3d2996","name":"","command":"ping","args":"10.0.1.114","autorun":true,"cr":false,"redo":true,"op":"string","closer":"SIGKILL","x":206,"y":541,"wires":[["62788da9.3ab81c"],[],[]]},{"id":"62788da9.3ab81c","type":"function","z":"18d4298d.3d2996","name":"","func":"var timing = msg.payload.split(/[\\s=]+/g);\nmsg.payload = timing[9];\nmsg.topic = \"10.0.1.114\";\nreturn msg;","outputs":1,"noerr":0,"x":350.5,"y":528.5,"wires":[["8aea52d4.4cd69"]]}]
