gate
[{"id":"653d9d47.f2ca6c","type":"tab","label":"Flow 1"},{"id":"6f45fba5.fdd584","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"232f010e.ae26be","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"24506094.6afa98","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"88f88022.3f0a4","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"2907f16c.f09236","type":"websocket-client","z":"","path":"wss://compound.latentsolutions.com:16009/ws/camera","tls":"88f88022.3f0a4","wholemsg":"false"},{"id":"8c8abd27.49153","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"7a221d3c.435764","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"5060e29f.168e4c","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"76d0f2d8.dae054","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"d5041c2a.8abab","type":"websocket-client","z":"","path":"wss://compound.latentsolutions.com:16009/ws/camera","tls":"76d0f2d8.dae054","wholemsg":"false"},{"id":"3798e331.22c6b4","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"d142f31e.71dd88","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"448aef07.fb324","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"e34e6d0e.76bb18","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"231a5f78.2fe03","type":"websocket-client","z":"","path":"wss://compound.latentsolutions.com:16009/ws/camera","tls":"e34e6d0e.76bb18","wholemsg":"false"},{"id":"db7b947b.440db8","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"66580d57.84c3cc","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"49a09e15.390508","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"dd9ead9.ef928d","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"40a3e02f.66912","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"8f45fe31.b5059","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"5607528b.5f62b4","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"bcbcc867.210fd","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"6dd1fa92.c60a8c","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"de750374.825e1","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"18e4d081.5b47ff","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"ff5252d5.0d3d6","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"6c7ecce5.95965c","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"d6a04284.473538","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"e8184e86.30c098","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"5d2f6a89.f7dfec","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"4f97f6a7.1d7598","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"5442a0c2.3b7cb","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"59a79772.9fc66","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"658fe538.f4bf9c","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"15c2ce62.58e4ba","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"8abfdfc0.8fdda8","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"9bedcce5.12aaa8","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"7239fad1.3ea7cc","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"4937555a.4d2074","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"37d26dbb.6455f2","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"e1f5b420.c416f8","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"8cfd52a5.fcc84","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"b3974805.238f8","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"7ffb4cd2.b0b06c","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"ce1fdc8d.ead4f","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"d4b17371.ba1838","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"1b6b0655.3f3d52","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"b1515766.b7a52","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"8ab94c55.b858","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"15dc91c8.0571c6","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"ca36bd83.dc233","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"61e6f3e6.10a2a4","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"d71b3c63.8791b","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"468d421d.149174","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"30cb2b75.c89b84","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"965ff2f9.d7a4b","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"1c9b2dd3.a168da","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"15313d7.c1e5643","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"37be8e25.47ab0a","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"e0d45025.25172","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"be8449ad.4ba008","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"4880e7b9.3590c8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"29abe12f.857e3e","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"83e384a4.4280b","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"c14870ba.b4b248","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"6915b68f.fdca48","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"ef986e4d.894fc","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"76da851b.543a84","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"6254b64d.a9aa2","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"76fc35f1.61daf4","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"46e15887.3f1fd8","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"9c39daf4.e15f18","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"1978b7cb.38a418","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"25e6b55a.f17bca","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"f74b1c23.0d465","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"22b074c2.625dfc","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"ebb120e.67bbce","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"49592565.2dd05c","type":"exec","z":"653d9d47.f2ca6c","command":"ffmpeg","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"gate_cam","x":800,"y":1420,"wires":[[],[],[]]},{"id":"41ab65d1.75db5c","type":"start-up-trigger","z":"653d9d47.f2ca6c","x":80,"y":60,"wires":[["cbd21205.2ae59","ab05e97.f7b0918"]]},{"id":"44044da3.8ca874","type":"json","z":"653d9d47.f2ca6c","name":"","property":"payload","action":"","pretty":true,"x":550,"y":140,"wires":[["116c3b21.e8888d"]]},{"id":"8eec48be.ac4988","type":"function","z":"653d9d47.f2ca6c","name":"","func":"if (typeof(msg.payload.results[0]) != \"undefined\"){\n    msg.confidence = msg.payload.results[0].confidence;\n    msg.alpr = msg.payload;\n    msg.plates = [];\n    msg.userplate = msg.payload.results[0].candidates[0].plate;\n    for(i=0; i<msg.payload.results[0].candidates.length; i++){\n        if (msg.payload.results[0].candidates[i].confidence > 70)\n            msg.plates.push(\"'\" + msg.payload.results[0].candidates[i].plate + \"'\");\n    }\n    if (msg.plates.length > 0){\n        msg.topic = \"select * from GATE where PLATE in (\"+ msg.plates.toString() + \")\" ;\n        return msg;\n    }\n}\n\n","outputs":1,"noerr":0,"x":830,"y":140,"wires":[["bc3e0dad.7c34e"]]},{"id":"1707c852.58d2d","type":"http response","z":"653d9d47.f2ca6c","name":"","statusCode":"","headers":{},"x":491,"y":561.5,"wires":[]},{"id":"e688ade5.db6f2","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/opengate","method":"get","upload":false,"swaggerDoc":"","x":104,"y":518.25,"wires":[["d990c3a7.a4923","fa3060d4.1ab5d"]]},{"id":"74af184a.a0f14","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/lockopengate","method":"get","upload":false,"swaggerDoc":"","x":114,"y":598,"wires":[["d990c3a7.a4923","f5b7e735.b87fb8"]]},{"id":"98f83d1e.abe418","type":"rpi-gpio out","z":"653d9d47.f2ca6c","name":"Gate Relay","pin":"37","set":true,"level":"1","freq":"","out":"out","x":1250,"y":520,"wires":[]},{"id":"bc61ca26.e49948","type":"rpi-gpio out","z":"653d9d47.f2ca6c","name":"Light Relay","pin":"40","set":true,"level":"1","freq":"","out":"out","x":970,"y":720,"wires":[]},{"id":"92a0a4d6.fa3018","type":"trigger","z":"653d9d47.f2ca6c","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":560,"y":520,"wires":[["1801a4e4.d0b13b"]]},{"id":"df24bba5.2e98d8","type":"function","z":"653d9d47.f2ca6c","name":"trigger frequency","func":"\nif (flow.get(\"flashes\") > 0){\n    setTimeout(function(){\n        msg.payload = flow.get(\"lightrelay\")===0 ? 1 : 0;\n        node.send(msg);\n        flow.set(\"flashes\",flow.get(\"flashes\")-1);\n    }, flow.get(\"flashInterval\"));\n}\n\n","outputs":1,"noerr":0,"x":570,"y":720,"wires":[["e515284f.0e391","57151f45.40bae"]]},{"id":"a118dafb.49fa38","type":"start-up-trigger","z":"653d9d47.f2ca6c","x":100,"y":760,"wires":[["97559d6c.015118"]]},{"id":"97559d6c.015118","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.payload = \"light-only\";\nflow.set(\"ebar\",0);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":761,"wires":[["be80ac51.93e398"]]},{"id":"73342f59.a48fc8","type":"change","z":"653d9d47.f2ca6c","name":"Mail","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'camera_snapshot.png', \t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Unknown Car at the compound","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":260,"wires":[["2e850b51.1aabb4"]]},{"id":"442641e0.fef2a","type":"e-mail","z":"653d9d47.f2ca6c","server":"smtp.mail.yahoo.com","port":"465","secure":true,"name":"thecompoundgate@gmail.com","dname":"Send mail","x":1600,"y":260,"wires":[]},{"id":"2e850b51.1aabb4","type":"function","z":"653d9d47.f2ca6c","name":"","func":"var splates = msg.plates.toString();\nsplates = splates.replace(\"'\",\"\");\nmsg.payload = \"Here are the plates: \" + splates;\nmsg.payload = msg.payload + \"<br><br><a href='https://compound.latentsolutions.com:16009/opengate'>Open the Gate / DO NOT add to access list</a>\"\nmsg.payload = msg.payload + \"<br><br><a href='https://compound.latentsolutions.com:16009/addgateuser?plate=\"+msg.plates[0].replace(\"'\",\"\")+\"'>Open the Gate / Add plates to access list</a>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":260,"wires":[["442641e0.fef2a"]]},{"id":"d990c3a7.a4923","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":560,"wires":[["1707c852.58d2d"]]},{"id":"f5735095.f1818","type":"rpi-gpio in","z":"653d9d47.f2ca6c","name":"Exit","pin":"18","intype":"up","debounce":"800","read":false,"x":70,"y":480,"wires":[["c100c0b4.f7036"]]},{"id":"4e093e92.ac04e","type":"change","z":"653d9d47.f2ca6c","name":"L","rules":[{"t":"set","p":"leaving","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":480,"wires":[["8f451767.0ba43"]]},{"id":"8f451767.0ba43","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"160","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":710,"y":480,"wires":[["f86a5eb3.cc559"]]},{"id":"f86a5eb3.cc559","type":"change","z":"653d9d47.f2ca6c","name":"L","rules":[{"t":"set","p":"leaving","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":480,"wires":[[]]},{"id":"be80ac51.93e398","type":"light-scheduler","z":"653d9d47.f2ca6c","settings":"25e6b55a.f17bca","events":"[{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":0}}]","topic":"","name":"","onPayload":"0","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"sunElevationThreshold":"0","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":412.5,"y":761,"wires":[["69da89d8.e2bbf"]]},{"id":"69da89d8.e2bbf","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"lights","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":760,"wires":[["e515284f.0e391"]]},{"id":"bc3e0dad.7c34e","type":"sqlite","z":"653d9d47.f2ca6c","mydb":"f74b1c23.0d465","name":"DB","x":950,"y":140,"wires":[["7b3293a1.a9988c","de6cba39.8b9388"]]},{"id":"7d93887e.edf92","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.topic = \"insert into GATE values('\" + msg.user + \"', '\" + msg.plate + \"', '\" + msg.garage + \"', \" + msg.house + \", '');COMMIT;\"\nreturn msg;","outputs":1,"noerr":0,"x":446,"y":881.75,"wires":[["ed3d2779.009958"]]},{"id":"ed3d2779.009958","type":"sqlite","z":"653d9d47.f2ca6c","mydb":"f74b1c23.0d465","name":"DB","x":588,"y":936,"wires":[["e9c28ccb.c54f4"]]},{"id":"aea62fbf.09ea1","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/addgateuserb","method":"get","upload":false,"swaggerDoc":"","x":120,"y":882,"wires":[["6531d693.10378"]]},{"id":"6531d693.10378","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.user = msg.payload.user;\nmsg.plate = msg.payload.plate;\nmsg.garage = \"\";\nmsg.house = msg.payload.house;\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":881.5,"wires":[["7d93887e.edf92"]]},{"id":"915cd3f2.a2921","type":"http response","z":"653d9d47.f2ca6c","name":"","x":1150,"y":1000,"wires":[]},{"id":"e3f91555.fe27f","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/removegateuser","method":"get","upload":false,"swaggerDoc":"","x":132,"y":936,"wires":[["5b348a05.f00274"]]},{"id":"5b348a05.f00274","type":"function","z":"653d9d47.f2ca6c","name":"","func":"splate = msg.payload;\nif(typeof(splate.plate) != \"undefined\"){\n    msg.topic = \"delete from GATE where PLATE='\"+ splate.plate + \"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":327,"y":936.5,"wires":[["ed3d2779.009958"]]},{"id":"a0237a2f.44766","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/addgateuser","method":"get","upload":false,"swaggerDoc":"","x":118,"y":839.25,"wires":[["8e2da2ac.4b3aa"]]},{"id":"43ad9425.958cfc","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"30","extend":true,"units":"s","reset":"","bytopic":"all","name":"Known","x":372,"y":313.75,"wires":[["6bfd6c60.8dfd7c","84f43ae7.8a1388","92a0a4d6.fa3018"]]},{"id":"7b3293a1.a9988c","type":"function","z":"653d9d47.f2ca6c","name":"","func":"if (msg.payload.length > 0){\n    return [null, msg];\n}\nelse\n    return [msg, null];\n\n","outputs":"2","noerr":0,"x":1070,"y":140,"wires":[["2fd1e7e6.3104c8"],["43ad9425.958cfc","6ff453b6.9bd124"]]},{"id":"1b90a43c.572294","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"40","extend":true,"units":"s","reset":"","bytopic":"all","name":"Unknown","x":1080,"y":260,"wires":[["bf6519bf.65eae","d84a6195.dbe428"]]},{"id":"8e2da2ac.4b3aa","type":"template","z":"653d9d47.f2ca6c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, user-scalable=0\">\n    <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    </head>\n<style>\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n    font-size:25px;\n}\ninput[type=text], label, h3 {\nfont-family: 'Roboto', sans-serif;}\n\ninput[type=submit] {\n    width: 100%;\n    height:40px;\n    background-color: green;\n    color: black;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    max-width:400px;\n}\n</style>\n<body>\n\n<h3>Compound Gate Access</h3>\n<div>\n  <form action=\"/addgateuserb\">\n    <label for=\"user\">User</label>\n    <input type=\"text\" id=\"user\" name=\"user\">\n\n    <label for=\"plate\">Plate</label>\n    <input type=\"text\" id=\"plate\" name=\"plate\" value=\"{{payload.plate}}\">\n\n    <label for=\"house\">House Access</label>\n    <select id=\"house\" name=\"house\">\n      <option value=\"1\">Yes</option>\n      <option value=\"0\">No</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n\n</body>\n</html>\n","x":304,"y":840,"wires":[["915cd3f2.a2921"]]},{"id":"3884034d.c3b4d4","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/gateusers","method":"get","upload":false,"swaggerDoc":"","x":116,"y":1040,"wires":[["d6e79332.59c788"]]},{"id":"d6e79332.59c788","type":"function","z":"653d9d47.f2ca6c","name":"","func":"\nmsg.topic = \"select USER, PLATE, HOUSE from GATE\";\n\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":1039,"wires":[["3f5e3edc.2edfea"]]},{"id":"3f5e3edc.2edfea","type":"sqlite","z":"653d9d47.f2ca6c","mydb":"f74b1c23.0d465","name":"DB","x":418,"y":1039,"wires":[["d2602135.749f6"]]},{"id":"d2602135.749f6","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.otable = \"\"\nfor (i=0; i< msg.payload.length; i++){\n    msg.otable = msg.otable + \"<tr><td><button class='btn btn-default' data-toggle='confirmation' data-on-confirm='goDel' data-id='\"+ msg.payload[i].PLATE.trim() +\"' ><i class='fa fa-trash' aria-hidden='true'></i></button>&nbsp;&nbsp;&nbsp;\" + msg.payload[i].USER + \"</td><td>\" + msg.payload[i].PLATE + \"</td><td>\" + (msg.payload[i].HOUSE ? \"Yes\":\"No\") + \"</td></tr>\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":1039,"wires":[["33d90bd.3d8d4f4"]]},{"id":"33d90bd.3d8d4f4","type":"template","z":"653d9d47.f2ca6c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<table id=\"example\" class=\"table userdatatable display table-hover\" cellspacing=\"0\" width=\"100%\">\n    <thead>\n        <tr>\n            <th>User</th>\n            <th>Plate</th>\n            <th>House</th>\n        </tr>\n    </thead>\n\n    <tbody>\n    {{{otable}}}\n    \n      </tbody>\n</table>\n\n<script>\n$('[data-toggle=confirmation]').confirmation({\n  rootSelector: '[data-toggle=confirmation]'\n});\n        \n\n            function goDel()\n                {\n                    var id = $(this)[0].getAttribute('data-id');\n                    $.get(\"http://compound.latentsolutions.com:16009/removegateuser?plate=\" + id);\n                    showUsers();\n                }\n  \n        </script>","output":"str","x":666,"y":1039,"wires":[["2c50e860.fd232"]]},{"id":"9aab89d8.a0059","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/camera","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1160,"wires":[["ea294ba3.71fb2"]]},{"id":"3544b7f7.62cf78","type":"change","z":"653d9d47.f2ca6c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":1160,"wires":[["915cd3f2.a2921"]]},{"id":"9659f488.4682a8","type":"sqlite","z":"653d9d47.f2ca6c","mydb":"22b074c2.625dfc","name":"Log Event","x":1040,"y":340,"wires":[[]]},{"id":"6bfd6c60.8dfd7c","type":"function","z":"653d9d47.f2ca6c","name":"","func":"var splates = msg.plates.toString();\nmsg.user = msg.payload[0].USER.toLowerCase().trim();\nsplates = splates.replace(\"'\",\"\");\nmsg.url = \"https://compound.latentsolutions.com:16009/arrive?user=\" + msg.user + \"&house=\"  + msg.payload[0].HOUSE;\nmsg.method = \"GET\";\nif (flow.get(\"leaving\") === true){\n    msg.topic = \"insert into LOG (ACTION, USER) values('Exit','\"+ msg.user +\"')\";\n    msg.reset = true; \n    msg.url = \"https://compound.latentsolutions.com:16009/depart?user=\" + msg.user;\n    return [null, msg];\n}\nelse{\n    msg.topic = \"insert into LOG (ACTION, USER) values('Enter','\"+ msg.user +\"')\";\n    return [msg, null];\n}","outputs":"2","noerr":0,"x":558,"y":366.75,"wires":[["9659f488.4682a8","e9db0a52.0eba08","68ab6da1.97b6d4"],["9659f488.4682a8","19340ffc.d1a708","e9db0a52.0eba08","32ab9dc2.8ab63a","f7016a6e.4c8e8"]]},{"id":"9a6df385.3ca14","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.method = \"GET\";\nmsg.topic = \"insert into LOG (ACTION, USER) values('Enter', '')\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["9659f488.4682a8"]]},{"id":"5e01279d.28a22","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/logs","method":"get","upload":false,"swaggerDoc":"","x":96,"y":1082,"wires":[["13cb3e5.6231dc2"]]},{"id":"13cb3e5.6231dc2","type":"function","z":"653d9d47.f2ca6c","name":"","func":"\nmsg.topic = \"select ACTION, USER, datetime(ETIME, 'localtime') as 'ETIME' from LOG ORDER BY ETIME DESC LIMIT 50\";\n\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":1082,"wires":[["eda613b9.f4df9"]]},{"id":"eda613b9.f4df9","type":"sqlite","z":"653d9d47.f2ca6c","mydb":"22b074c2.625dfc","name":"DB","x":416,"y":1082,"wires":[["d9cda87f.91fce8"]]},{"id":"d9cda87f.91fce8","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.otable = \"\"\nfor (i=0; i< msg.payload.length; i++){\n    msg.otable = msg.otable + \"<tr><td>\" + msg.payload[i].ACTION + \"</td><td>\" + msg.payload[i].USER + \"</td><td>\" + msg.payload[i].ETIME + \"</td></tr>\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":538,"y":1082,"wires":[["54fe69d.cbdc598"]]},{"id":"54fe69d.cbdc598","type":"template","z":"653d9d47.f2ca6c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table id=\"logs\" class=\"table logdatatable display table-hover\" cellspacing=\"0\" width=\"100%\">\n    <thead>\n        <tr>\n            <th>Event</th>\n            <th>User</th>\n            <th>Date/Time</th>\n        </tr>\n    </thead>\n\n    <tbody>\n    {{{otable}}}\n    \n      </tbody>\n</table>\n    <tbody>","output":"str","x":662,"y":1082,"wires":[["2c50e860.fd232"]]},{"id":"ec2bfd73.21b68","type":"trigger","z":"653d9d47.f2ca6c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"150","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":669,"y":314,"wires":[["b509114d.708e18"]]},{"id":"b509114d.708e18","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":314.75,"wires":[[]]},{"id":"81f733a9.ca8a78","type":"switch","z":"653d9d47.f2ca6c","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":480,"wires":[["4e093e92.ac04e","5af7a28f.355384"]]},{"id":"f5b7e735.b87fb8","type":"change","z":"653d9d47.f2ca6c","name":"Lock","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"lockopen","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":600,"wires":[["6f1497c.6e038e8"]]},{"id":"9effb89f.b2642","type":"change","z":"653d9d47.f2ca6c","name":"rule","rules":[{"t":"set","p":"plates","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"[{\"USER\":\"Manual Open\",\"HOUSE\":0}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":520,"wires":[["43ad9425.958cfc"]]},{"id":"ce2db342.b29108","type":"change","z":"653d9d47.f2ca6c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350,"y":320,"wires":[["a8f74c3e.2ebf7"]]},{"id":"bf6519bf.65eae","type":"function","z":"653d9d47.f2ca6c","name":"","func":"\n    msg.payload = {};\n    msg.payload.value1 = \"Unknown car \" + msg.plates[0].replace(\"'\",\"\") + \" has arrived\";\n    msg.payload.value2 = \"https://compound.latentsolutions.com:16009/\";\n    msg.payload.value3 = \"https://compound.latentsolutions.com:16009\" + msg.filename;\n    msg.topic = \"insert into LOG (ACTION, USER) values('Enter','\"+ msg.plates[0].replace(\"'\",\"\") +\"')\";\n    \n    msg.url = \"https://maker.ifttt.com/trigger/gatepic/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\nreturn msg;","outputs":"1","noerr":0,"x":1210,"y":320,"wires":[["ce2db342.b29108","9659f488.4682a8"]]},{"id":"cbd21205.2ae59","type":"change","z":"653d9d47.f2ca6c","name":"Startup","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"leaving","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"lockopen","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"gopen","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"lightrelay","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"flashInterval","pt":"flow","to":"500","tot":"num"},{"t":"set","p":"camMotion","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":80,"y":140,"wires":[["e7ed0a0.40992f8","f263c90e.9f5c6"]]},{"id":"e9c28ccb.c54f4","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":960,"wires":[["2c50e860.fd232"]]},{"id":"f36023f0.23937","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"6","extend":false,"units":"s","reset":"","name":"","x":940,"y":260,"wires":[["1b90a43c.572294"]]},{"id":"6ff453b6.9bd124","type":"change","z":"653d9d47.f2ca6c","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":180,"wires":[["dd9bef17.3adfe8"]]},{"id":"84f43ae7.8a1388","type":"switch","z":"653d9d47.f2ca6c","name":"","property":"leaving","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":532,"y":315,"wires":[["ec2bfd73.21b68"]]},{"id":"2fd1e7e6.3104c8","type":"switch","z":"653d9d47.f2ca6c","name":"","property":"leaving","propertyType":"flow","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":260,"wires":[["7025d6c7.9afdf"],["3fbae4c0.70fe44"]]},{"id":"1801a4e4.d0b13b","type":"function","z":"653d9d47.f2ca6c","name":"","func":"if (flow.get(\"lockopen\") === true)\n    msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":520,"wires":[["6f1497c.6e038e8"]]},{"id":"fac90e3f.b67d78","type":"exec","z":"653d9d47.f2ca6c","command":"alpr  -j /dev/video3 ","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"read plates","x":390,"y":120,"wires":[["eef535c5.54c9b8"],[],[]]},{"id":"7025d6c7.9afdf","type":"switch","z":"653d9d47.f2ca6c","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":260,"wires":[["81413c5a.444f9","84f43ae7.8a1388"]]},{"id":"988717e7.633bc","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/normalgate","method":"get","upload":false,"swaggerDoc":"","x":100,"y":640,"wires":[["d990c3a7.a4923","c4186ec1.e2cb"]]},{"id":"c4186ec1.e2cb","type":"change","z":"653d9d47.f2ca6c","name":"Lock","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"},{"t":"set","p":"lockopen","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":640,"wires":[["6f1497c.6e038e8"]]},{"id":"3e807a4a.fb85ee","type":"exec","z":"653d9d47.f2ca6c","command":"ffmpeg -f v4l2  -i /dev/video2 -s 500x300  -vf \"drawtext=fontfile=/usr/share/fonts/TTF/Vera.ttf: text='%{localtime}': x=(w-tw)/2: y=h-(2*lh): fontsize=24: fontcolor=white,fps=1/2\" -updatefirst 1  -f image2pipe -","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"pic","x":370,"y":60,"wires":[["1d1182ee.5c6d05"],[],[]]},{"id":"1d1182ee.5c6d05","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"image","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":40,"wires":[["760008a2.c5f1f"]]},{"id":"81413c5a.444f9","type":"change","z":"653d9d47.f2ca6c","name":"IMG","rules":[{"t":"set","p":"payload","pt":"msg","to":"image","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":260,"wires":[["f36023f0.23937"]]},{"id":"ea294ba3.71fb2","type":"change","z":"653d9d47.f2ca6c","name":"IMG","rules":[{"t":"set","p":"payload","pt":"msg","to":"image","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1160,"wires":[["3544b7f7.62cf78"]]},{"id":"19340ffc.d1a708","type":"link out","z":"653d9d47.f2ca6c","name":"depart_in","links":["13a4b478.c94f3c"],"x":955,"y":380,"wires":[]},{"id":"13a4b478.c94f3c","type":"link in","z":"653d9d47.f2ca6c","name":"","links":["19340ffc.d1a708"],"x":95,"y":720,"wires":[["35072d20.846642"]]},{"id":"f8d7b252.8b2688","type":"link out","z":"653d9d47.f2ca6c","name":"","links":["47c91d88.fcd7cc"],"x":235,"y":180,"wires":[]},{"id":"98c28cad.b6d0c8","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg = {};\nmsg.kill = \"SIGKILL\";\nnode.send(msg);\ngate = '  -f v4l2 -i /dev/video0  -f v4l2  /dev/video2  -f v4l2  /dev/video3  -f v4l2  /dev/video4 '\npost = '  -f v4l2 -i /dev/video1  -f v4l2  /dev/video2  -f v4l2  /dev/video3  -f v4l2  /dev/video4 '\n\nsetTimeout(function(){\n    msg = {};\n    if (flow.get(\"gopen\"))\n        msg.payload = post;\n    else\n        msg.payload = gate;\n    node.send(msg);\n},2000);\n\n\n","outputs":1,"noerr":0,"x":640,"y":1420,"wires":[["49592565.2dd05c"]]},{"id":"47c91d88.fcd7cc","type":"link in","z":"653d9d47.f2ca6c","name":"camera_select","links":["f8d7b252.8b2688","8bf89436.7bd918","e7f370f7.6af478","2affbf45.a840a"],"x":475,"y":1420,"wires":[["98c28cad.b6d0c8"]]},{"id":"e7f370f7.6af478","type":"link out","z":"653d9d47.f2ca6c","name":"","links":["47c91d88.fcd7cc"],"x":1675,"y":540,"wires":[]},{"id":"de2e3b25.6ac48","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.payload = [];\nmsg.payload[0] = {};\nmsg.payload[0].USER = msg.userplate;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["6bfd6c60.8dfd7c"]]},{"id":"82849fde.e37868","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"gopen","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1540,"y":540,"wires":[["e7f370f7.6af478"]]},{"id":"10697919.4da4d7","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"gopen","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":580,"wires":[["e7f370f7.6af478"]]},{"id":"80d969bb.491638","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"140","extend":true,"units":"s","reset":"","bytopic":"all","name":"D","x":1370,"y":580,"wires":[["10697919.4da4d7"]]},{"id":"e515284f.0e391","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"lightrelay","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":720,"wires":[["bc61ca26.e49948"]]},{"id":"c100c0b4.f7036","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"1000","extend":true,"units":"ms","reset":"1","bytopic":"all","name":"DB","x":190,"y":480,"wires":[["81f733a9.ca8a78","92a0a4d6.fa3018","cf0089fd.8d0c58"]]},{"id":"35072d20.846642","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg = {};\nflow.set(\"flashInterval\", 1);\nflow.set(\"flashes\",50);\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":720,"wires":[["57151f45.40bae"]]},{"id":"cf0089fd.8d0c58","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg = {};\nflow.set(\"flashInterval\", 250);\nflow.set(\"flashes\",50);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":680,"wires":[["57151f45.40bae"]]},{"id":"2c50e860.fd232","type":"change","z":"653d9d47.f2ca6c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.Access-Control-Allow-Origin","pt":"msg","to":"*","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1020,"wires":[["915cd3f2.a2921"]]},{"id":"57151f45.40bae","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"true","op1type":"nul","op2type":"bool","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"t","x":410,"y":720,"wires":[["df24bba5.2e98d8"]]},{"id":"fa3060d4.1ab5d","type":"switch","z":"653d9d47.f2ca6c","name":"","property":"lockopen","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":520,"wires":[["9effb89f.b2642"]]},{"id":"6f1497c.6e038e8","type":"link out","z":"653d9d47.f2ca6c","name":"","links":["8f452236.5dece8"],"x":815,"y":580,"wires":[]},{"id":"8f452236.5dece8","type":"link in","z":"653d9d47.f2ca6c","name":"Gate Relay","links":["6f1497c.6e038e8"],"x":975,"y":580,"wires":[["468e075f.52cfe8"]]},{"id":"468e075f.52cfe8","type":"function","z":"653d9d47.f2ca6c","name":"","func":"if (msg.payload === 0){\n    return msg;\n}\nelse{\n    if(flow.get(\"lockopen\") !== true){\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":1110,"y":580,"wires":[["98f83d1e.abe418","a4121dc9.a123e8"]]},{"id":"5bab67e2.17e12","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/ping","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1220,"wires":[["23acaba0.a79ecc"]]},{"id":"23acaba0.a79ecc","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.payload = \"ok\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1220,"wires":[["915cd3f2.a2921"]]},{"id":"95bf6551.305348","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/rebootPi","method":"get","upload":false,"swaggerDoc":"","x":950,"y":1140,"wires":[["428fae10.e0304","915cd3f2.a2921"]]},{"id":"428fae10.e0304","type":"exec","z":"653d9d47.f2ca6c","command":"sudo shutdown -r now","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"reboot","x":1130,"y":1140,"wires":[[],[],[]]},{"id":"12a0bb4b.68f2ed","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/camera.jpg","method":"get","upload":false,"swaggerDoc":"","x":120,"y":1120,"wires":[["ea294ba3.71fb2"]]},{"id":"d5b4368a.c45108","type":"http request","z":"653d9d47.f2ca6c","name":"","method":"use","ret":"txt","url":"","tls":"ebb120e.67bbce","x":790,"y":1500,"wires":[["a84cf00f.c2bf98"]]},{"id":"a84cf00f.c2bf98","type":"switch","z":"653d9d47.f2ca6c","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":1500,"wires":[[],["f70643ba.a26c3"]]},{"id":"9a161262.af41d","type":"link in","z":"653d9d47.f2ca6c","name":"http_retry_request","links":["1af97e.97bb6682","a8f74c3e.2ebf7","e9db0a52.0eba08","d08f3e5c.a5774"],"x":255,"y":1500,"wires":[["5fe8a6a1.21e99"]]},{"id":"f70643ba.a26c3","type":"delay","z":"653d9d47.f2ca6c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1580,"wires":[["8a1d6ec7.4b0e4"]]},{"id":"ab05e97.f7b0918","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.url = \"https://compound.latentsolutions.com:16009/gateStart\";\nmsg.method = \"GET\";\nreturn msg;","outputs":"1","noerr":0,"x":290,"y":20,"wires":[["1af97e.97bb6682"]]},{"id":"1af97e.97bb6682","type":"link out","z":"653d9d47.f2ca6c","name":"","links":["9a161262.af41d"],"x":415,"y":20,"wires":[]},{"id":"a8f74c3e.2ebf7","type":"link out","z":"653d9d47.f2ca6c","name":"","links":["9a161262.af41d"],"x":1455,"y":320,"wires":[]},{"id":"e9db0a52.0eba08","type":"link out","z":"653d9d47.f2ca6c","name":"","links":["9a161262.af41d"],"x":1015,"y":420,"wires":[]},{"id":"5fe8a6a1.21e99","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"psave","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1500,"wires":[["8a1d6ec7.4b0e4"]]},{"id":"8a1d6ec7.4b0e4","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"psave","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1500,"wires":[["d5b4368a.c45108"]]},{"id":"f9badc42.8e0178","type":"exec","z":"653d9d47.f2ca6c","command":"alpr  -j /dev/video4 --motion on","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"read plates","x":390,"y":180,"wires":[["44044da3.8ca874"],[],[]]},{"id":"e7ed0a0.40992f8","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"1","op1type":"nul","op2type":"num","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":140,"y":180,"wires":[["f8d7b252.8b2688"]]},{"id":"f263c90e.9f5c6","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg = {};\nmsg.kill = \"SIGKILL\";\nnode.send(msg);\n\nmsg = {};\n\nsetTimeout(function(){\n    node.send(msg);\n},10000);","outputs":1,"noerr":0,"x":230,"y":140,"wires":[["fac90e3f.b67d78","f9badc42.8e0178","3e807a4a.fb85ee"]]},{"id":"32ab9dc2.8ab63a","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"159","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":750,"y":420,"wires":[["9659f488.4682a8","e9db0a52.0eba08"]]},{"id":"d84a6195.dbe428","type":"switch","z":"653d9d47.f2ca6c","name":"","property":"lockopen","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1230,"y":260,"wires":[["73342f59.a48fc8"]]},{"id":"c39b6d15.0d70e","type":"file","z":"653d9d47.f2ca6c","name":"","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","x":1370,"y":140,"wires":[]},{"id":"b3dee162.65f61","type":"file in","z":"653d9d47.f2ca6c","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":510,"y":1000,"wires":[["3544b7f7.62cf78"]]},{"id":"774a2e69.b7174","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/tmp/:filename","method":"get","upload":false,"swaggerDoc":"","x":130,"y":1000,"wires":[["f1bd752c.f05278"]]},{"id":"f1bd752c.f05278","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.filename = \"/tmp/\" + msg.req.params.filename;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1000,"wires":[["b3dee162.65f61"]]},{"id":"3fbae4c0.70fe44","type":"trigger","z":"653d9d47.f2ca6c","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":220,"y":360,"wires":[["de2e3b25.6ac48"]]},{"id":"39e08fa8.82e4e8","type":"function","z":"653d9d47.f2ca6c","name":"","func":"\nif (msg.payload.processing_time_ms > 500){\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":870,"y":100,"wires":[["df468ce3.873e5"]]},{"id":"5b5538a4.7b85d8","type":"http in","z":"653d9d47.f2ca6c","name":"","url":"/mode","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1260,"wires":[["f2f4e8f7.e4dc78"]]},{"id":"f2f4e8f7.e4dc78","type":"change","z":"653d9d47.f2ca6c","name":"Mode","rules":[{"t":"set","p":"gmode","pt":"flow","to":"payload.mode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1260,"wires":[["915cd3f2.a2921","f9f435d7.bb8748"]]},{"id":"68fd8626.0dd1f8","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"gdelivery","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1320,"wires":[["f9f435d7.bb8748"]]},{"id":"f9f435d7.bb8748","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.mode = flow.get(\"gmode\");\n\nif (msg.mode == \"disco\"){\n    return [null, msg];\n}\nelse if (msg.mode == \"delivery\"){\n    if(flow.get(\"gdelivery\") == \"true\")\n        return [null, msg];\n    else\n        return [msg, null];\n}\nelse{\n    return [msg, null];\n}\n","outputs":2,"noerr":0,"x":510,"y":1260,"wires":[["aed49781.6687","badae87.0046298"],["60864fa6.15d3f8","badae87.0046298"]]},{"id":"6bba85d5.d83d34","type":"change","z":"653d9d47.f2ca6c","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":1260,"wires":[["d08f3e5c.a5774"]]},{"id":"9fd0818d.652208","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.method = \"POST\"\nif(msg.mode == \"delivery\" && msg.topic == \"auto\"){\n    msg.payload = {};\n    if(flow.get(\"gdelivery\") == \"true\")\n        msg.payload.value1 = \"Compound gates are open for business\";\n    else\n        msg.payload.value1 = \"Compound gates are closed for the night\";\n    \n    msg.payload.value2 = \"https://compound.latentsolutions.com:16009/\";\n    msg.payload.value3 = \"https://compound.latentsolutions.com:16009/camera.jpg\";\n\n    msg.url = \"https://maker.ifttt.com/trigger/gatepic/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\n    return msg;\n}\n","outputs":"1","noerr":0,"x":910,"y":1260,"wires":[["6bba85d5.d83d34"]]},{"id":"badae87.0046298","type":"delay","z":"653d9d47.f2ca6c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":1260,"wires":[["9fd0818d.652208"]]},{"id":"aed49781.6687","type":"link out","z":"653d9d47.f2ca6c","name":"to_normal","links":["60350e48.2a5a7"],"x":675,"y":1240,"wires":[]},{"id":"60864fa6.15d3f8","type":"link out","z":"653d9d47.f2ca6c","name":"","links":["6b841ec9.0f8c8"],"x":675,"y":1280,"wires":[]},{"id":"6b841ec9.0f8c8","type":"link in","z":"653d9d47.f2ca6c","name":"lockgate","links":["60864fa6.15d3f8"],"x":455,"y":600,"wires":[["f5b7e735.b87fb8"]]},{"id":"60350e48.2a5a7","type":"link in","z":"653d9d47.f2ca6c","name":"normalgate","links":["aed49781.6687"],"x":515,"y":640,"wires":[["c4186ec1.e2cb"]]},{"id":"d08f3e5c.a5774","type":"link out","z":"653d9d47.f2ca6c","name":"","links":["9a161262.af41d"],"x":1175,"y":1260,"wires":[]},{"id":"49c1388e.9c83f8","type":"bigtimer","z":"653d9d47.f2ca6c","outtopic":"auto","outpayload1":"true","outpayload2":"false","name":"Big Timer","comment":"","lat":"32.7157","lon":"117.1611","starttime":"360","endtime":"1020","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":120,"y":1340,"wires":[["68fd8626.0dd1f8"],[],[]]},{"id":"68ab6da1.97b6d4","type":"function","z":"653d9d47.f2ca6c","name":"","func":"\n    msg.payload = {};\n    msg.payload.value1 = msg.user + \" has arrived\";\n    msg.payload.value2 = \"https://compound.latentsolutions.com:16009/\";\n    msg.payload.value3 = \"https://compound.latentsolutions.com:16009\" + msg.filename;\n\n    msg.url = \"https://maker.ifttt.com/trigger/gatepic/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\nreturn msg;","outputs":"1","noerr":0,"x":1210,"y":360,"wires":[["ce2db342.b29108"]]},{"id":"f7016a6e.4c8e8","type":"function","z":"653d9d47.f2ca6c","name":"","func":"\n    msg.payload = {};\n    msg.payload.value1 = msg.user + \" has departed\";\n    msg.payload.value2 = \"https://compound.latentsolutions.com:16009/\";\n    msg.payload.value3 = \"https://compound.latentsolutions.com:16009\" + msg.filename;\n\n    msg.url = \"https://maker.ifttt.com/trigger/gatepic/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\nreturn msg;","outputs":"1","noerr":0,"x":1210,"y":400,"wires":[["ce2db342.b29108"]]},{"id":"de6cba39.8b9388","type":"change","z":"653d9d47.f2ca6c","name":"IMG","rules":[{"t":"set","p":"payload","pt":"msg","to":"image","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":140,"wires":[["c39b6d15.0d70e"]]},{"id":"df468ce3.873e5","type":"switch","z":"653d9d47.f2ca6c","name":"is lockopen","property":"lockopen","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":100,"wires":[["3ff0ba3b.a1b3be"]]},{"id":"1c1706a6.5143e1","type":"change","z":"653d9d47.f2ca6c","name":"","rules":[{"t":"set","p":"camMotion","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1470,"y":100,"wires":[[]]},{"id":"ecd6b57c.1d3c1","type":"trigger","z":"653d9d47.f2ca6c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"20","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":1290,"y":100,"wires":[["1c1706a6.5143e1"]]},{"id":"3ff0ba3b.a1b3be","type":"switch","z":"653d9d47.f2ca6c","name":"","property":"leaving","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1150,"y":100,"wires":[["ecd6b57c.1d3c1"]]},{"id":"116c3b21.e8888d","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.filename = \"/tmp/alert_\" + Date.now() + \".jpg\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["8eec48be.ac4988","39e08fa8.82e4e8"]]},{"id":"eef535c5.54c9b8","type":"json","z":"653d9d47.f2ca6c","name":"","property":"payload","action":"","pretty":true,"x":550,"y":100,"wires":[["498b99fb.650d9"]]},{"id":"498b99fb.650d9","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.filename = \"/tmp/alert_\" + Date.now() + \".jpg\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["8eec48be.ac4988"]]},{"id":"dd9bef17.3adfe8","type":"link out","z":"653d9d47.f2ca6c","name":"reset trigger","links":["978f0e04.0d90c","6d71643b.2a7d3c","cb8a0cd4.b61a6"],"x":1275,"y":180,"wires":[]},{"id":"978f0e04.0d90c","type":"link in","z":"653d9d47.f2ca6c","name":"","links":["dd9bef17.3adfe8"],"x":75,"y":360,"wires":[["3fbae4c0.70fe44"]]},{"id":"6d71643b.2a7d3c","type":"link in","z":"653d9d47.f2ca6c","name":"","links":["dd9bef17.3adfe8"],"x":815,"y":260,"wires":[["f36023f0.23937"]]},{"id":"5af7a28f.355384","type":"switch","z":"653d9d47.f2ca6c","name":"","property":"camMotion","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":420,"wires":[["9a6df385.3ca14"],["92c3206b.78ba98"]]},{"id":"92c3206b.78ba98","type":"function","z":"653d9d47.f2ca6c","name":"","func":"msg.method = \"GET\";\nmsg.topic = \"insert into LOG (ACTION, USER) values('Exit', '')\";\nmsg.url = \"https://compound.latentsolutions.com:16009/depart\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":440,"wires":[["32ab9dc2.8ab63a"]]},{"id":"74f7f085.1684e","type":"file","z":"653d9d47.f2ca6c","name":"","filename":"/mnt/nfs/camera.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":960,"y":40,"wires":[]},{"id":"8624f2e2.814538","type":"inject","z":"653d9d47.f2ca6c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":200,"wires":[["df4b3ff3.e8e2d"]]},{"id":"df4b3ff3.e8e2d","type":"function","z":"653d9d47.f2ca6c","name":"","func":"//msg.topic = \"select * from GATE where PLATE ='8BNT617'\";\n//msg.plates = ['8BNT617'];\n\nmsg.topic = \"select * from GATE where PLATE ='7T59831'\";\nmsg.plates = ['7T59831'];\n\nmsg.filename = \"/tmp/alert_\" + Date.now() + \".jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":200,"wires":[["bc3e0dad.7c34e"]]},{"id":"a4121dc9.a123e8","type":"function","z":"653d9d47.f2ca6c","name":"","func":"if (msg.payload === 0){\n    msg.reset = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":580,"wires":[["80d969bb.491638","82849fde.e37868"]]},{"id":"760008a2.c5f1f","type":"function","z":"653d9d47.f2ca6c","name":"","func":"var msg2 = {};\nmsg2.payload = new Buffer(msg.payload).toString('base64');\nreturn msg2;","outputs":1,"noerr":0,"x":730,"y":40,"wires":[["74f7f085.1684e"]]}]
