gate
[{"id":"80ac6cee.0a59d","type":"tab","label":"Flow 1"},{"id":"e4bde09.9eed3a","type":"light-scheduler-settings","z":"","name":"my settings","latitude":"32.8103798","longitude":"-116.9014174"},{"id":"abb4790f.9bb688","type":"sqlitedb","z":"","db":"/home/pi/mydatabase.db"},{"id":"cabf7835.558a38","type":"sqlitedb","z":"","db":"/home/pi/accesslog.db"},{"id":"ceb55586.66d238","type":"exec","z":"80ac6cee.0a59d","command":"alpr  -j /dev/video1","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"read plates","x":402.5,"y":146.5,"wires":[["a25b922d.9d269"],[],[]]},{"id":"b6d9b312.4a5ea","type":"start-up-trigger","z":"80ac6cee.0a59d","x":102.5,"y":146,"wires":[["511a220f.1ffc0c","17119930.12d2b7"]]},{"id":"a25b922d.9d269","type":"json","z":"80ac6cee.0a59d","name":"","pretty":true,"x":547.5,"y":134,"wires":[["c4efea7c.bff068"]]},{"id":"c4efea7c.bff068","type":"function","z":"80ac6cee.0a59d","name":"","func":"if (typeof(msg.payload.results[0]) != \"undefined\"){\n    msg.confidence = msg.payload.results[0].confidence;\n    msg.alpr = msg.payload;\n    msg.plates = [];\n    for(i=0; i<msg.payload.results[0].candidates.length; i++){\n        if (msg.payload.results[0].candidates[i].confidence > 75)\n            msg.plates.push(\"'\" + msg.payload.results[0].candidates[i].plate + \"'\");\n    }\n    if (msg.plates.length > 0){\n        msg.topic = \"select * from GATE where PLATE in (\"+ msg.plates.toString() + \")\" ;\n        return [msg,null];\n    }\n}\nreturn [null, msg];\n","outputs":"2","noerr":0,"x":674,"y":134,"wires":[["d94ee39f.eaeed"],[]]},{"id":"d7efeeec.a9c418","type":"http response","z":"80ac6cee.0a59d","name":"","statusCode":"","headers":{},"x":437,"y":559.5,"wires":[]},{"id":"376c173c.0afe98","type":"http in","z":"80ac6cee.0a59d","name":"","url":"/opengate","method":"get","upload":false,"swaggerDoc":"","x":89,"y":519.25,"wires":[["c469b056.8efb38","fd336d63.04c2f"]]},{"id":"ed1951fc.d3124","type":"http in","z":"80ac6cee.0a59d","name":"","url":"/lockopengate","method":"get","upload":false,"swaggerDoc":"","x":95,"y":600,"wires":[["c469b056.8efb38","90813ff4.148828"]]},{"id":"a23dd3b0.6a4d9","type":"rpi-gpio out","z":"80ac6cee.0a59d","name":"Gate Relay","pin":"37","set":true,"level":"1","freq":"","out":"out","x":837,"y":509,"wires":[]},{"id":"da600b97.7b2528","type":"rpi-gpio out","z":"80ac6cee.0a59d","name":"Light Relay","pin":"40","set":true,"level":"1","freq":"","out":"out","x":821,"y":730,"wires":[]},{"id":"12d0dd9c.6f75f2","type":"trigger","z":"80ac6cee.0a59d","op1":"0","op2":"1","op1type":"num","op2type":"num","duration":"1","extend":false,"units":"s","reset":"","name":"","x":618,"y":509.75,"wires":[["a23dd3b0.6a4d9","610707e2.bf333","d9d6c33e.c04ec"]]},{"id":"d9d6c33e.c04ec","type":"function","z":"80ac6cee.0a59d","name":"trigger frequency","func":"\n// trigger frequency\nvar trigger = setInterval(function(){\n    node.send(msg);\n}, 1000);\n\n// trigger total time\nsetTimeout(function(){\n    clearInterval(trigger);\n},30000);\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":368,"y":683.3333129882812,"wires":[["c8c43834.f22018"]]},{"id":"c8c43834.f22018","type":"trigger","z":"80ac6cee.0a59d","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":562,"y":682.3333129882812,"wires":[["da600b97.7b2528"]]},{"id":"610707e2.bf333","type":"trigger","z":"80ac6cee.0a59d","op1":"","op2":"lights","op1type":"nul","op2type":"flow","duration":"32","extend":false,"units":"s","reset":"","name":"","x":543,"y":635.75,"wires":[["da600b97.7b2528"]]},{"id":"ee20a191.72954","type":"start-up-trigger","z":"80ac6cee.0a59d","x":88,"y":729.75,"wires":[["71029e6c.ad9cf8"]]},{"id":"71029e6c.ad9cf8","type":"function","z":"80ac6cee.0a59d","name":"","func":"msg.payload = \"light-only\";\nflow.set(\"ebar\",0);\nreturn msg;","outputs":1,"noerr":0,"x":248,"y":730.75,"wires":[["83127969.29f538"]]},{"id":"511a220f.1ffc0c","type":"delay","z":"80ac6cee.0a59d","name":"S","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":256,"y":145.75,"wires":[["ceb55586.66d238"]]},{"id":"6b9017d4.d69878","type":"change","z":"80ac6cee.0a59d","name":"Mail","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'camera_snapshot.png', \t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Unknown Car at the compound","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":658,"y":241,"wires":[["c8524ed.f6d683"]]},{"id":"aadf5f1c.870128","type":"e-mail","z":"80ac6cee.0a59d","server":"smtp.mail.yahoo.com","port":"465","secure":true,"name":"thecompoundgate@gmail.com","dname":"Send mail","x":913.0001220703125,"y":240.99993896484375,"wires":[]},{"id":"a4f05da2.16314","type":"exec","z":"80ac6cee.0a59d","command":"ffmpeg -f v4l2 -i /dev/video2 -vframes 1 -f image2 -","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"pic","x":534,"y":253.99993896484375,"wires":[["6b9017d4.d69878"],[],[]]},{"id":"c8524ed.f6d683","type":"function","z":"80ac6cee.0a59d","name":"","func":"var splates = msg.plates.toString();\nsplates = splates.replace(\"'\",\"\");\nmsg.payload = \"Here are the plates: \" + msg.plates;\nmsg.payload = msg.payload + \"<br><br><a href='http://compound.dyndns.ws:16008/opengate'>Open the Gate / DO NOT add to access list</a>\"\nmsg.payload = msg.payload + \"<br><br><a href='http://compound.dyndns.ws:16008/addgateuser?plate=\"+msg.plates[0]+\"'>Open the Gate / Add plates to access list</a>\"\n\nreturn msg;","outputs":1,"noerr":0,"x":778,"y":241,"wires":[["aadf5f1c.870128"]]},{"id":"c469b056.8efb38","type":"change","z":"80ac6cee.0a59d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":284,"y":559.75,"wires":[["d7efeeec.a9c418"]]},{"id":"fd96342b.cd70e8","type":"rpi-gpio in","z":"80ac6cee.0a59d","name":"Exit Sensor","pin":"16","intype":"up","debounce":"200","read":false,"x":85,"y":425.20001220703125,"wires":[["7ea8c9d1.8ca9"]]},{"id":"73c5727b.7720f4","type":"change","z":"80ac6cee.0a59d","name":"L","rules":[{"t":"set","p":"leaving","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":534,"y":468.75,"wires":[["23b6ee70.a07102","c19d9227.c60ed"]]},{"id":"23b6ee70.a07102","type":"trigger","z":"80ac6cee.0a59d","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"30","extend":true,"units":"s","reset":"","name":"","x":674,"y":467.75,"wires":[["dc63c143.a59958"]]},{"id":"dc63c143.a59958","type":"change","z":"80ac6cee.0a59d","name":"L","rules":[{"t":"set","p":"leaving","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":808,"y":467,"wires":[[]]},{"id":"83127969.29f538","type":"light-scheduler","z":"80ac6cee.0a59d","settings":"e4bde09.9eed3a","events":"[{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":0}}]","topic":"","name":"","onPayload":"0","onPayloadType":"num","offPayload":"1","offPayloadType":"num","onlyWhenDark":true,"sunElevationThreshold":"-4","sunShowElevationInStatus":true,"outputfreq":"output.minutely","x":400.5,"y":730.75,"wires":[["4ca23bba.7db82c"]]},{"id":"4ca23bba.7db82c","type":"change","z":"80ac6cee.0a59d","name":"","rules":[{"t":"set","p":"lights","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":591,"y":730,"wires":[["da600b97.7b2528","ef1d319f.9667"]]},{"id":"db43f286.147a18","type":"exec","z":"80ac6cee.0a59d","command":"v4l2-ctl -c color_effects=0 -c scene_mode=11 -c exposure_metering_mode=0 -c saturation=0 -c brightness=45 -c white_balance_auto_preset=7 -c contrast=100 -c sharpness=-60 -c iso_sensitivity_auto=0 -c iso_sensitivity=4 -c auto_exposure=0 -c exposure_time_absolute=10 -c auto_exposure_bias=14","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Night","x":812,"y":785.25,"wires":[[],[],[]]},{"id":"ef1d319f.9667","type":"switch","z":"80ac6cee.0a59d","name":"","property":"lights","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":657,"y":796.75,"wires":[["db43f286.147a18"],["218b2077.28f42"]]},{"id":"218b2077.28f42","type":"exec","z":"80ac6cee.0a59d","command":"v4l2-ctl -c color_effects=0 -c scene_mode=11 -c exposure_metering_mode=0 -c saturation=0 -c brightness=45 -c white_balance_auto_preset=7 -c contrast=30 -c sharpness=90 -c iso_sensitivity_auto=0 -c iso_sensitivity=4 -c auto_exposure=1 -c exposure_time_absolute=10 -c auto_exposure_bias=13","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Day","x":812,"y":856.25,"wires":[[],[],[]]},{"id":"d94ee39f.eaeed","type":"sqlite","z":"80ac6cee.0a59d","mydb":"abb4790f.9bb688","name":"DB","x":804.5,"y":127.25,"wires":[["5cff7762.aac7b"]]},{"id":"b3a2c8d0.f3e85","type":"function","z":"80ac6cee.0a59d","name":"","func":"msg.topic = \"insert into GATE values('\" + msg.user + \"', '\" + msg.plate + \"', '\" + msg.garage + \"', \" + msg.house + \", '');COMMIT;\"\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":1022.75,"wires":[["abcd8735.b9269"]]},{"id":"abcd8735.b9269","type":"sqlite","z":"80ac6cee.0a59d","mydb":"abb4790f.9bb688","name":"DB","x":630,"y":1077,"wires":[["6b6fa156.88845"]]},{"id":"e2dc22d2.8f2f28","type":"http request","z":"80ac6cee.0a59d","name":"Arrive Home","method":"GET","ret":"txt","url":"","tls":"","x":731,"y":356.75,"wires":[[]]},{"id":"fa339a90.a9a8d","type":"http in","z":"80ac6cee.0a59d","name":"","url":"/addgateuserb","method":"get","upload":false,"swaggerDoc":"","x":162,"y":1023,"wires":[["36d86b92.32030c"]]},{"id":"36d86b92.32030c","type":"function","z":"80ac6cee.0a59d","name":"","func":"msg.user = msg.payload.user;\nmsg.plate = msg.payload.plate;\nmsg.garage = \"\";\nmsg.house = msg.payload.house;\nreturn msg;","outputs":1,"noerr":0,"x":344,"y":1022.5,"wires":[["b3a2c8d0.f3e85"]]},{"id":"7b1c05d5.79b3e4","type":"http response","z":"80ac6cee.0a59d","name":"","x":904,"y":1139.5,"wires":[]},{"id":"809a5531.2b1de","type":"http in","z":"80ac6cee.0a59d","name":"","url":"/removegateuser","method":"get","upload":false,"swaggerDoc":"","x":174,"y":1077,"wires":[["19da9187.e6d06e"]]},{"id":"19da9187.e6d06e","type":"function","z":"80ac6cee.0a59d","name":"","func":"splate = msg.payload;\nif(typeof(splate.plate) != \"undefined\"){\n    msg.topic = \"delete from GATE where PLATE='\"+ splate.plate + \"'\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":369,"y":1077.5,"wires":[["abcd8735.b9269"]]},{"id":"f26b7f22.aa80f","type":"http in","z":"80ac6cee.0a59d","name":"","url":"/addgateuser","method":"get","upload":false,"swaggerDoc":"","x":169,"y":980.25,"wires":[["c2fa2cbb.24e9f8"]]},{"id":"7ea8c9d1.8ca9","type":"trigger","z":"80ac6cee.0a59d","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"units":"ms","reset":"1","name":"","x":87,"y":467.75,"wires":[["f31d8aa7.3ceef"]]},{"id":"9c6af8c.628a388","type":"trigger","z":"80ac6cee.0a59d","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"155","extend":true,"units":"s","reset":"","name":"Known","x":372,"y":313.75,"wires":[["7b14312b.d061f8","5095dc45.6d5b4c","6079ac5b.96389c"]]},{"id":"5cff7762.aac7b","type":"function","z":"80ac6cee.0a59d","name":"","func":"if (msg.payload.length > 0){\n    return [null, msg, null];\n}\nelse\n    return [msg, null, null];\n\n","outputs":"2","noerr":0,"x":133,"y":260.75,"wires":[["1aff1430.168604"],["9c6af8c.628a388"]]},{"id":"1aff1430.168604","type":"trigger","z":"80ac6cee.0a59d","op1":"","op2":"","op1type":"pay","op2type":"nul","duration":"10","extend":true,"units":"s","reset":"","name":"Unknown","x":375,"y":254,"wires":[["a4f05da2.16314","1e8f9ad9.1741cd"]]},{"id":"c2fa2cbb.24e9f8","type":"template","z":"80ac6cee.0a59d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, user-scalable=0\">\n    <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n    </head>\n<style>\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n    font-size:25px;\n}\ninput[type=text], label, h3 {\nfont-family: 'Roboto', sans-serif;}\n\ninput[type=submit] {\n    width: 100%;\n    height:40px;\n    background-color: green;\n    color: black;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n    max-width:400px;\n}\n</style>\n<body>\n\n<h3>Compound Gate Access</h3>\n<div>\n  <form action=\"/addgateuserb\">\n    <label for=\"user\">User</label>\n    <input type=\"text\" id=\"user\" name=\"user\">\n\n    <label for=\"plate\">Plate</label>\n    <input type=\"text\" id=\"plate\" name=\"plate\" value=\"{{payload.plate}}\">\n\n    <label for=\"house\">House Access</label>\n    <select id=\"house\" name=\"house\">\n      <option value=\"1\">Yes</option>\n      <option value=\"0\">No</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n\n</body>\n</html>\n","x":346,"y":981,"wires":[["7b1c05d5.79b3e4"]]},{"id":"1be206c.6575179","type":"http in","z":"80ac6cee.0a59d","name":"","url":"/gateusers","method":"get","upload":false,"swaggerDoc":"","x":143,"y":1181,"wires":[["bf339e1f.6832c"]]},{"id":"bf339e1f.6832c","type":"function","z":"80ac6cee.0a59d","name":"","func":"\nmsg.topic = \"select USER, PLATE, HOUSE from GATE\";\n\nreturn msg;","outputs":1,"noerr":0,"x":324,"y":1180,"wires":[["72c8bbbc.a4d3fc"]]},{"id":"72c8bbbc.a4d3fc","type":"sqlite","z":"80ac6cee.0a59d","mydb":"abb4790f.9bb688","name":"DB","x":460,"y":1180,"wires":[["fbb723ea.e0351"]]},{"id":"fbb723ea.e0351","type":"function","z":"80ac6cee.0a59d","name":"","func":"msg.otable = \"\"\nfor (i=0; i< msg.payload.length; i++){\n    msg.otable = msg.otable + \"<tr><td><button class='btn btn-default' data-toggle='confirmation' data-on-confirm='goDel' data-id='\"+ msg.payload[i].PLATE.trim() +\"' ><i class='fa fa-trash' aria-hidden='true'></i></button>&nbsp;&nbsp;&nbsp;\" + msg.payload[i].USER + \"</td><td>\" + msg.payload[i].PLATE + \"</td><td>\" + (msg.payload[i].HOUSE ? \"Yes\":\"No\") + \"</td></tr>\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":618,"y":1184,"wires":[["ce0d8824.48149"]]},{"id":"ce0d8824.48149","type":"template","z":"80ac6cee.0a59d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<table id=\"example\" class=\"table userdatatable display table-hover\" cellspacing=\"0\" width=\"100%\">\n    <thead>\n        <tr>\n            <th>User</th>\n            <th>Plate</th>\n            <th>House</th>\n        </tr>\n    </thead>\n\n    <tbody>\n    {{{otable}}}\n    \n      </tbody>\n</table>\n\n<script>\n$('[data-toggle=confirmation]').confirmation({\n  rootSelector: '[data-toggle=confirmation]'\n});\n        \n\n            function goDel()\n                {\n                    var id = $(this)[0].getAttribute('data-id');\n                    $.get(\"http://compound.dyndns.ws:16008/removegateuser?plate=\" + id);\n                    showUsers();\n                }\n  \n        </script>","output":"str","x":764,"y":1185,"wires":[["7b1c05d5.79b3e4"]]},{"id":"dcdc8237.622c18","type":"exec","z":"80ac6cee.0a59d","command":"ffmpeg -f v4l2 -i /dev/video3 -s 500x300 -vframes 1 -f image2 -","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"pic","x":397,"y":1305,"wires":[["f9b62a7e.bd857"],[],[]]},{"id":"462870c2.01e83","type":"http in","z":"80ac6cee.0a59d","name":"","url":"/camera","method":"get","upload":false,"swaggerDoc":"","x":165,"y":1308,"wires":[["dcdc8237.622c18"]]},{"id":"f9b62a7e.bd857","type":"change","z":"80ac6cee.0a59d","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":614,"y":1295,"wires":[["7b1c05d5.79b3e4"]]},{"id":"8a6c88dc.40ffe8","type":"sqlite","z":"80ac6cee.0a59d","mydb":"cabf7835.558a38","name":"Log Event","x":721,"y":392,"wires":[[]]},{"id":"7b14312b.d061f8","type":"function","z":"80ac6cee.0a59d","name":"","func":"var splates = msg.plates.toString();\nsplates = splates.replace(\"'\",\"\");\nmsg.topic = \"insert into LOG (ACTION, USER, PLATES) values('Enter','\"+ msg.payload[0].USER +\"', '\" + splates + \"')\";\nmsg.url = \"http://10.0.1.118:1880/arrive?user=\" + msg.payload[0].USER;\n    \nreturn msg;","outputs":1,"noerr":0,"x":558,"y":366.75,"wires":[["8a6c88dc.40ffe8","e2dc22d2.8f2f28"]]},{"id":"a090fe2c.746b68","type":"function","z":"80ac6cee.0a59d","name":"","func":"\nmsg.topic = \"insert into LOG (ACTION, USER) values('Exit', '')\";\n    \nreturn msg;","outputs":1,"noerr":0,"x":558,"y":408,"wires":[["8a6c88dc.40ffe8"]]},{"id":"e9a2b0f.75d2ed","type":"http in","z":"80ac6cee.0a59d","name":"","url":"/logs","method":"get","upload":false,"swaggerDoc":"","x":122,"y":1226,"wires":[["95b6bbb0.4ba09"]]},{"id":"95b6bbb0.4ba09","type":"function","z":"80ac6cee.0a59d","name":"","func":"\nmsg.topic = \"select ACTION, USER, datetime(ETIME, 'localtime') as 'ETIME' from LOG ORDER BY ETIME DESC LIMIT 50\";\n\nreturn msg;","outputs":1,"noerr":0,"x":313,"y":1222,"wires":[["6dd50571.af43b4"]]},{"id":"6dd50571.af43b4","type":"sqlite","z":"80ac6cee.0a59d","mydb":"cabf7835.558a38","name":"DB","x":458,"y":1223,"wires":[["48f55e37.0c4c28"]]},{"id":"48f55e37.0c4c28","type":"function","z":"80ac6cee.0a59d","name":"","func":"msg.otable = \"\"\nfor (i=0; i< msg.payload.length; i++){\n    msg.otable = msg.otable + \"<tr><td>\" + msg.payload[i].ACTION + \"</td><td>\" + msg.payload[i].USER + \"</td><td>\" + msg.payload[i].ETIME + \"</td></tr>\"\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":1228,"wires":[["17f09ad0.dde5ad"]]},{"id":"17f09ad0.dde5ad","type":"template","z":"80ac6cee.0a59d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table id=\"logs\" class=\"table logdatatable display table-hover\" cellspacing=\"0\" width=\"100%\">\n    <thead>\n        <tr>\n            <th>Event</th>\n            <th>User</th>\n            <th>Date/Time</th>\n        </tr>\n    </thead>\n\n    <tbody>\n    {{{otable}}}\n    \n      </tbody>\n</table>\n    <tbody>","output":"str","x":753,"y":1229,"wires":[["7b1c05d5.79b3e4"]]},{"id":"6079ac5b.96389c","type":"trigger","z":"80ac6cee.0a59d","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"45","extend":true,"units":"s","reset":"","name":"","x":559,"y":314,"wires":[["b708e706.da0888"]]},{"id":"b708e706.da0888","type":"change","z":"80ac6cee.0a59d","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":739,"y":313.75,"wires":[[]]},{"id":"f31d8aa7.3ceef","type":"switch","z":"80ac6cee.0a59d","name":"","property":"arrived","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":246,"y":468.75,"wires":[["a090fe2c.746b68","73c5727b.7720f4"]]},{"id":"90813ff4.148828","type":"change","z":"80ac6cee.0a59d","name":"Lock","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"lockopen","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":654,"y":596.75,"wires":[["a23dd3b0.6a4d9"]]},{"id":"fd336d63.04c2f","type":"change","z":"80ac6cee.0a59d","name":"","rules":[{"t":"set","p":"plates","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"USER\":\"Manual Open\"}","tot":"json"},{"t":"set","p":"lockopen","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":284,"y":518.75,"wires":[["9c6af8c.628a388"]]},{"id":"5095dc45.6d5b4c","type":"switch","z":"80ac6cee.0a59d","name":"","property":"lockopen","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":484,"y":509.75,"wires":[["12d0dd9c.6f75f2"]]},{"id":"c19d9227.c60ed","type":"http request","z":"80ac6cee.0a59d","name":"Depart Home","method":"GET","ret":"txt","url":"http://10.0.1.118:1880/depart","tls":"","x":741,"y":429,"wires":[[]]},{"id":"a7a761eb.1ec12","type":"http request","z":"80ac6cee.0a59d","name":"Notify unknown car","method":"POST","ret":"txt","url":"","tls":"","x":866,"y":202,"wires":[[]]},{"id":"d37a639e.5d0c18","type":"change","z":"80ac6cee.0a59d","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":679,"y":203.25,"wires":[["a7a761eb.1ec12"]]},{"id":"1e8f9ad9.1741cd","type":"function","z":"80ac6cee.0a59d","name":"","func":"\n    msg.payload = {};\n    msg.payload.value1 = \"An unknown car is at the gate.\";\n    \n    msg.payload = JSON.stringify(msg.payload);\n    msg.url = \"https://maker.ifttt.com/trigger/notification/with/key/lh_TzivDCQNHuXbc-XuVGChylygY6SZ7XiK_gS1L9KP\";\nreturn msg;","outputs":"1","noerr":0,"x":537,"y":203.25,"wires":[["d37a639e.5d0c18"]]},{"id":"17119930.12d2b7","type":"change","z":"80ac6cee.0a59d","name":"","rules":[{"t":"set","p":"arrived","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"leaving","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"lockopen","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":246,"y":189,"wires":[[]]},{"id":"6b6fa156.88845","type":"change","z":"80ac6cee.0a59d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ok","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":793,"y":1077,"wires":[["7b1c05d5.79b3e4"]]}]
