window
[{"id":"7c902850.17d628","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6cb4b3d.9a5a78","type":"websocket-listener","z":"","path":"/ws/socket","wholemsg":"true"},{"id":"e719b071.d6c8c","type":"http in","z":"7c902850.17d628","name":"","url":"/gwindow","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["a3302bb5.7ee82","b2adbc15.2709d8"]]},{"id":"3673a9ba.ffb606","type":"http response","z":"7c902850.17d628","name":"","statusCode":"","headers":{},"x":870,"y":540,"wires":[]},{"id":"31b9e590.7a042a","type":"exec","z":"7c902850.17d628","command":"echo 'standby 0' | cec-client -s -d 1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"off","x":430,"y":580,"wires":[[],[],[]]},{"id":"1fd8e8af.076fbf","type":"exec","z":"7c902850.17d628","command":"echo 'on 0' | cec-client -s -d 1","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"on","x":430,"y":520,"wires":[[],[],[]]},{"id":"b2adbc15.2709d8","type":"change","z":"7c902850.17d628","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":540,"wires":[["3673a9ba.ffb606"]]},{"id":"a3302bb5.7ee82","type":"switch","z":"7c902850.17d628","name":"","property":"payload.gstatus","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":520,"wires":[["1fd8e8af.076fbf"],["31b9e590.7a042a"]]},{"id":"b741f423.8c6af8","type":"http in","z":"7c902850.17d628","name":"","url":"/gwindowScene","method":"get","upload":false,"swaggerDoc":"","x":160,"y":660,"wires":[["680dcf62.f471","68205f1e.9dab98"]]},{"id":"5daae6c.dfc2618","type":"exec","z":"7c902850.17d628","command":"pkill omxplayer; omxplayer -b --loop --adev hdmi ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"0","x":510,"y":700,"wires":[[],[],[]]},{"id":"680dcf62.f471","type":"http response","z":"7c902850.17d628","name":"","statusCode":"","headers":{},"x":710,"y":660,"wires":[]},{"id":"33db3504.2d72d2","type":"fs-file-lister","z":"7c902850.17d628","name":"","start":"/media/pi/BA8F-83891/window/","pattern":"*","hidden":true,"path":true,"single":true,"depth":"1","stat":false,"x":480,"y":860,"wires":[["6c889ad6.a374b4"]]},{"id":"6c889ad6.a374b4","type":"function","z":"7c902850.17d628","name":"","func":"var divs = '<div class=\"tab-content\">';\nvar uls = '<ul id=\"windowScenes\" class=\"nav nav-tabs\" data-tabs=\"tabs\">';\nvar category;\n\n\nfor (var x in msg.payload){\n    xsplit = msg.payload[x].split(\"/\")\n    if (xsplit[5] != category){\n        category = xsplit[5];\n        if (x > 0){\n            divs += '</div><button class=\"leftRs\"><i class=\"fa fa-arrow-circle-o-left\" aria-hidden=\"true\"></i></button><button class=\"rightRs\"><i class=\"fa fa-arrow-circle-o-right\" aria-hidden=\"true\"></i></button></div></div><div class=\"tab-pane\" id=\"tabWindow' + category + '\"><div class=\"resCarousel\" data-items=\"2-4-4-4\" data-slide=\"2\" data-interval=\"2000\" data-speed=\"600\" data-animator=\"lazy\"><div class=\"resCarousel-inner\">';\n            uls += '<li><a data-toggle=\"tab\" href=\"#tabWindow' + category + '\">' + category + '</a></li>';\n        }\n        else{\n            uls += '<li class=\"active\"><a data-toggle=\"tab\" href=\"#tabWindow' + category + '\">' + category + '</a></li>'\n            divs += '<div class=\"tab-pane\" id=\"tabWindow' + category + '\"><div class=\"resCarousel\" data-items=\"2-2-2-2\" data-slide=\"2\" data-interval=\"2000\" data-speed=\"600\" data-animator=\"lazy\"><div class=\"resCarousel-inner\">'\n        }\n    }\n    divs += '<div class=\"item\"><div class=\"tile\"><div class=\"' + xsplit[5] + \"-\" + xsplit[6] + ' gwindow\" style=\"background: url(\\'./thumb/' + xsplit[5] + \"-\" + xsplit[6] + '\\') center center no-repeat;\"><h3>' + xsplit[6].replace(\"_\", \" \") + '</h3></div></div></div>'  \n}\n\n\nmsg.payload = uls + \"</ul>\" + divs + \"</div><button class='leftRs'><i class='fa fa-arrow-circle-o-left' aria-hidden='true'></i></button><button class='rightRs'><i class='fa fa-arrow-circle-o-right' aria-hidden='true'></i></button></div></div></div>\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":860,"wires":[["4ea5e8cd.2610c8"]]},{"id":"4827cb1a.60531c","type":"http in","z":"7c902850.17d628","name":"","url":"/gwindowscenes","method":"get","upload":false,"swaggerDoc":"","x":140,"y":860,"wires":[["4aac593.76a4aa8","33db3504.2d72d2"]]},{"id":"4ea5e8cd.2610c8","type":"http response","z":"7c902850.17d628","name":"","statusCode":"","headers":{},"x":750,"y":860,"wires":[]},{"id":"68205f1e.9dab98","type":"function","z":"7c902850.17d628","name":"","func":"msg.payload = \"/media/pi/BA8F-83891/window/\" + msg.payload.scene.replace(\"-\",\"/\");\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":700,"wires":[["5daae6c.dfc2618"]]},{"id":"ace81a6.9e6ac68","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1020,"wires":[["4bcf17bd.b09e9"]]},{"id":"5e2f4c60.1861bc","type":"rpi-gpio out","z":"7c902850.17d628","name":"","pin":"5","set":true,"level":"0","freq":"","out":"out","x":600,"y":1120,"wires":[]},{"id":"40c38608.610d6","type":"rpi-gpio out","z":"7c902850.17d628","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":600,"y":1160,"wires":[]},{"id":"b18b2d83.53ad68","type":"rpi-gpio out","z":"7c902850.17d628","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":600,"y":1200,"wires":[]},{"id":"7e8c745d.c24624","type":"rpi-gpio out","z":"7c902850.17d628","name":"","pin":"15","set":true,"level":"0","freq":"","out":"out","x":1040,"y":1420,"wires":[]},{"id":"416f68e5.fb82e","type":"rpi-gpio out","z":"7c902850.17d628","name":"","pin":"29","set":true,"level":"0","freq":"","out":"out","x":1040,"y":1340,"wires":[]},{"id":"92172aaa.d77d68","type":"rpi-gpio out","z":"7c902850.17d628","name":"","pin":"31","set":true,"level":"0","freq":"","out":"out","x":1040,"y":1380,"wires":[]},{"id":"ba981a25.6af718","type":"rpi-gpio out","z":"7c902850.17d628","name":"","pin":"33","set":true,"level":"0","freq":"","out":"out","x":600,"y":1240,"wires":[]},{"id":"5e43338a.c9e7a4","type":"rpi-gpio out","z":"7c902850.17d628","name":"","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1040,"y":1300,"wires":[]},{"id":"822572fe.7dfc8","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1080,"wires":[["4bcf17bd.b09e9"]]},{"id":"169f5d5d.05d9eb","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1080,"wires":[["5e2f4c60.1861bc"]]},{"id":"b86fa70e.934bd8","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1160,"wires":[["b18b2d83.53ad68"]]},{"id":"a7a25f41.843a9","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":1420,"wires":[["7e8c745d.c24624"]]},{"id":"31ae5973.76684e","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":1340,"wires":[["416f68e5.fb82e"]]},{"id":"5bf4212c.d496f","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":1380,"wires":[["92172aaa.d77d68"]]},{"id":"b3662607.a4c0b8","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1200,"wires":[["ba981a25.6af718"]]},{"id":"ce889c50.36d638","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":1300,"wires":[["5e43338a.c9e7a4"]]},{"id":"ed7eec71.a6c438","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":1120,"wires":[["40c38608.610d6"]]},{"id":"ef272729.ac5c78","type":"function","z":"7c902850.17d628","name":"","func":"flow.set(\"pause\",flow.get(\"pause\")+1);\n\nvar n1 = [\"l3\",\"l7\"];\nvar n2 = [\"l2\",\"l3\",\"l4\",\"l6\",\"l5\",\"l8\"];\nvar n3 = [\"l2\",\"l3\",\"l4\",\"l6\",\"l7\",\"l8\"];\nvar n4 = [\"l1\",\"l3\",\"l4\",\"l6\",\"l7\"];\n\nvar Handler={};\nHandler.l1 = function (onoff) {\n    m = {};\n    m.payload = onoff;\n    node.send([m,null,null,null,null,null,null,null]);\n};\nHandler.l2 = function (onoff) {\n    m = {};\n    m.payload = onoff;\n    node.send([null,m,null,null,null,null,null,null]);\n};\nHandler.l3 = function (onoff) {\n    m = {};\n    m.payload = onoff;\n    node.send([null,null,m,null,null,null,null,null]);\n};\nHandler.l4 = function (onoff) {\n    m = {};\n    m.payload = onoff;\n    node.send([null,null,null,m,null,null,null,null]);\n};\nHandler.l5 = function (onoff) {\n    m = {};\n    m.payload = onoff;\n    node.send([null,null,null,null,m,null,null,null]);\n};\nHandler.l6 = function (onoff){\n    m = {};\n    m.payload = onoff;\n    node.send([null,null,null,null,null,m,null,null]);\n};\nHandler.l7 = function (onoff){\n    m = {};\n    m.payload = onoff;\n    node.send([null,null,null,null,null,null,m,null]);\n};\nHandler.l8 = function (onoff){\n    m = {};\n    m.payload = onoff;\n    node.send([null,null,null,null,null,null,null,m]);\n};\non = {};\non.payload = 0;\noff = {};\noff.payload = 1;\n\n\nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n\nswitch(msg.payload) {\n  case \"a\":\n    // code block\n    break;\ncase 1:\n    showNum(n1);\n    break;\ncase 2:\n    showNum(n2);\n    break;\ncase 3:\n    showNum(n3);\n    break;\ncase 4:\n    showNum(n4);\n    break;\n  case \"randomon\":\n    randoml(0, 100);\n    break;\n  case \"randomoff\":\n    randoml(1, 100);\n    break;\n  case \"fuckoff\":\n    fuckoff(1050);\n    break;\n  case \"dimon\":\n    diml(0, 150);\n    break;\n  case \"superdimon\":\n    sdiml(0, 150);\n    break;\n  case \"train\":\n    train(2150);\n    break;\ncase \"ceight\":\n    ceight(2000);\n    break;\n  default:\n    node.send([off,off,off,off,off,off,off,off]);\n} \n\nasync function diml(onoff, delay) {\n    let array = [\"l1\",\"l3\",\"l5\",\"l7\"];\n    shuffle(array);\n    for (const key of array){\n        Handler[key](onoff);\n        await sleep(delay);\n    }\n}\nasync function sdiml(onoff, delay) {\n    let array = [\"l5\"];\n    shuffle(array);\n    for (const key of array){\n        Handler[key](onoff);\n        await sleep(delay);\n    }\n}\n\nasync function randoml(onoff, delay) {\n    let array = [\"l1\",\"l2\",\"l3\",\"l4\",\"l5\",\"l6\",\"l7\",\"l8\"];\n    shuffle(array);\n    for (const key of array){\n        Handler[key](onoff);\n        await sleep(delay);\n    }\n}\nasync function fuckoff(delay) {\n    node.send([off,off,off,off,off,off,off,off]);\n    let array = [\"l1\",\"l2\",\"l3\",\"l4\",\"l5\",\"l6\",\"l7\",\"l8\"];\n    var pause = flow.get(\"pause\");\n    while(flow.get(\"pause\") <= pause){\n        shuffle(array);\n        for (const key of array){\n            if(flow.get(\"pause\") != pause){\n                break;}\n            Handler[key](Math.round(Math.random()));\n            await sleep(delay);\n        }\n    }\n\n}\nasync function train(delay) {\n    node.send([off,off,off,off,off,off,off,off]);\n    let array = [\"l1\",\"l2\",\"l3\",\"l7\",\"l8\",\"l5\"];\n    var pause = flow.get(\"pause\");\n    while(flow.get(\"pause\") <= pause){\n        for (const key of array){\n            if(flow.get(\"pause\") != pause){\n                break;}\n            Handler[key](0);\n            await sleep(delay);\n            Handler[key](1);\n        }\n    }\n}\nasync function ceight(delay) {\n    node.send([off,off,off,off,off,off,off,off]);\n    let array = [\"l1\",\"l2\",\"l3\",\"l6\",\"l5\",\"l8\",\"l7\",\"l4\"];\n    var pause = flow.get(\"pause\");\n    while(flow.get(\"pause\") <= pause){\n        for (const key of array){\n            if(flow.get(\"pause\") != pause){\n                break;}\n            Handler[key](0);\n            await sleep(delay);\n            Handler[key](1);\n        }\n    }\n}\n\n\nasync function showNum(array) {\n    node.send([off,off,off,off,off,off,off,off]);\n    for (const key of array){\n        Handler[key](0);\n    }\n}\n\nfunction shuffle(array) {\n  for (let i = array.length - 1; i > 0; i--) {\n    let j = Math.floor(Math.random() * (i + 1));\n    [array[i], array[j]] = [array[j], array[i]];\n  }\n}","outputs":8,"noerr":0,"x":330,"y":1360,"wires":[["5e2f4c60.1861bc"],["40c38608.610d6"],["b18b2d83.53ad68"],["ba981a25.6af718"],["5e43338a.c9e7a4"],["416f68e5.fb82e"],["92172aaa.d77d68"],["7e8c745d.c24624"]]},{"id":"4bcf17bd.b09e9","type":"function","z":"7c902850.17d628","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1020,"wires":[["5e2f4c60.1861bc","40c38608.610d6","b18b2d83.53ad68","ba981a25.6af718","5e43338a.c9e7a4","416f68e5.fb82e","92172aaa.d77d68","7e8c745d.c24624"]]},{"id":"99e09246.3a916","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"randomon","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1360,"wires":[["ef272729.ac5c78"]]},{"id":"7895bc53.2af4cc","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"randomoff","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1400,"wires":[["ef272729.ac5c78"]]},{"id":"d51f2a05.c2f4a8","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"dimon","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1320,"wires":[["ef272729.ac5c78"]]},{"id":"7fc7501b.dfc318","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"superdimon","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1260,"wires":[["ef272729.ac5c78"]]},{"id":"bf872b0e.3e534","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"fuckoff","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":1460,"wires":[["ef272729.ac5c78"]]},{"id":"3f3598c3.fe7d3","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"train","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1520,"wires":[["ef272729.ac5c78"]]},{"id":"95b26c2c.57da4","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"ceight","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1580,"wires":[["ef272729.ac5c78"]]},{"id":"cba12433.4e94c8","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1620,"wires":[["ef272729.ac5c78"]]},{"id":"b465bb90.46aac8","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1660,"wires":[["ef272729.ac5c78"]]},{"id":"aec60dc.cdf41f","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1700,"wires":[["ef272729.ac5c78"]]},{"id":"f02f749d.5db198","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1740,"wires":[["ef272729.ac5c78"]]},{"id":"f0dfbb7b.d4b188","type":"debug","z":"7c902850.17d628","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":920,"wires":[]},{"id":"4aac593.76a4aa8","type":"template","z":"7c902850.17d628","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"container\">\n    <div class=\"resCarousel\" data-items=\"2-3-3-3\" data-slide=\"2\" data-interval=\"0\" data-speed=\"600\" data-animator=\"lazy\">\n        <div class=\"resCarousel-inner\">\n\n            <div class=\"item\">\n                <div class=\"tile\">\n                    <div>\n                        <h1>1</h1>\n                    </div>\n                    <h3>Title</h3>\n                    <p>content</p>\n                </div>\n            </div>\n\n            <div class=\"item\">\n                <div class=\"tile\">\n                    <div>\n                        <h1>2</h1>\n                    </div>\n                    <h3>Title</h3>\n                    <p>content</p>\n                </div>\n            </div>\n\n            <div class=\"item\">\n                <div class=\"tile\">\n                    <div>\n                        <h1>3</h1>\n                    </div>\n                    <h3>Title</h3>\n                    <p>content</p>\n                </div>\n            </div>\n\n            <div class=\"item\">\n                <div class=\"tile\">\n                    <div>\n                        <h1>4</h1>\n                    </div>\n                    <h3>Title</h3>\n                    <p>content</p>\n                </div>\n            </div>\n\n        </div>\n        <button class='btn btn-default leftRs'><</button>\n        <button class='btn btn-default rightRs'>></button>\n    </div>\n</div>","output":"str","x":340,"y":920,"wires":[[]]},{"id":"d5e643ec.c73698","type":"fs-file-lister","z":"7c902850.17d628","name":"","start":"/media/pi/BA8F-83891/thumb/window/","pattern":"*","hidden":true,"path":true,"single":true,"depth":"4","stat":false,"x":720,"y":960,"wires":[[]]},{"id":"fdc93872.88598","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":420,"y":960,"wires":[["f17b537d.64148"]]},{"id":"5c9e00c9.8fc098","type":"function","z":"7c902850.17d628","name":"","func":"var divs = '<div class=\"tab-content\">';\nvar uls = '<ul id=\"windowScenes\" class=\"nav nav-tabs\" data-tabs=\"tabs\">';\nvar category;\n\n\nfor (var x in msg.payload){\n    xsplit = msg.payload[x].split(\"/\")\n    if (xsplit[5] != category){\n        category = xsplit[5];\n        if (x > 0){\n            divs += '</div></div><div class=\"tab-pane\" id=\"tabWindow' + category + '\"><div class=\"st-widget__switch btn-group\" role=\"group\">';\n            uls += '<li><a data-toggle=\"tab\" href=\"#tabWindow' + category + '\">' + category + '</a></li>';\n        }\n        else{\n            uls += '<li class=\"active\"><a data-toggle=\"tab\" href=\"#tabWindow' + category + '\">' + category + '</a></li>'\n            divs += '<div class=\"tab-pane\" id=\"tabWindow' + category + '\"><div class=\"st-widget__switch btn-group\" role=\"group\">'\n        }\n    }\n    divs += '<button class=\"' + xsplit[5] + \"-\" + xsplit[6] + ' gwindow btn btn-default\" type=\"button\">'+ xsplit[6].replace(\"_\", \" \") + '</button>'\n}\n\n\nmsg.payload = uls + \"</ul>\" + divs + \"</div></div></div>\";\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1060,"wires":[[]]},{"id":"efb00254.cb427","type":"http in","z":"7c902850.17d628","name":"","url":"/thumb/:filename","method":"get","upload":false,"swaggerDoc":"","x":140,"y":800,"wires":[["88f5f193.d2f69"]]},{"id":"d97b53b4.dcaa28","type":"http response","z":"7c902850.17d628","name":"","x":750,"y":800,"wires":[]},{"id":"2eeb05f3.5149ba","type":"change","z":"7c902850.17d628","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpeg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":800,"wires":[["d97b53b4.dcaa28"]]},{"id":"b2e812dd.74e1d8","type":"file in","z":"7c902850.17d628","name":"","filename":"","format":"","chunk":false,"sendError":true,"x":430,"y":800,"wires":[["2eeb05f3.5149ba"]]},{"id":"88f5f193.d2f69","type":"function","z":"7c902850.17d628","name":"","func":"msg.filename = \"/media/pi/BA8F-83891/thumb/window/\" + msg.req.params.filename.replace(\"-\",\"/\") + \".jpg\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":800,"wires":[["b2e812dd.74e1d8"]]},{"id":"cbb1ec3e.3b56a","type":"inject","z":"7c902850.17d628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":180,"wires":[["14c9526a.f7f3de"]]},{"id":"14c9526a.f7f3de","type":"change","z":"7c902850.17d628","name":"","rules":[{"t":"set","p":"pause","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":180,"wires":[[]]},{"id":"f17b537d.64148","type":"fs-file-lister","z":"7c902850.17d628","name":"","start":"/media/pi/BA8F-83891/window/","pattern":"*","hidden":false,"path":true,"single":true,"depth":"1","stat":false,"x":600,"y":920,"wires":[["f0dfbb7b.d4b188"]]}]
